[2016-01-25 18:47] stevenroose commented on #1
<a href="https://github.com/izaera"><img src="https://avatars.githubusercontent.com/u/3273630?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [izaera](https://github.com/izaera)**
_Tuesday Oct 22, 2013 at 18:30 GMT_

----

Fixed on https://github.com/izaera/cipher/commit/13d9ab83458559b66ba2c72b89c6fb00e88f1f73

[2016-01-25 18:47] stevenroose commented on #6
<a href="https://github.com/Daegalus"><img src="https://avatars.githubusercontent.com/u/670212?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [Daegalus](https://github.com/Daegalus)**
_Monday Nov 11, 2013 at 21:42 GMT_

----

I started working on adding Threefish and Skein to Cipher yesterday, and in the process, I have added Mac, HMac, SkeinMac, and a few other thing

[2016-01-25 18:47] stevenroose commented on #6
<a href="https://github.com/izaera"><img src="https://avatars.githubusercontent.com/u/3273630?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [izaera](https://github.com/izaera)**
_Tuesday Nov 12, 2013 at 07:24 GMT_

----

Hi Yulian:

That's very good news :-). I saw your branch yesterday when I was
releasing cipher 0.3.1.

It's also good that you branched 0.4.0 becaus

[2016-01-25 18:48] stevenroose commented on #8
<a href="https://github.com/izaera"><img src="https://avatars.githubusercontent.com/u/3273630?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [izaera](https://github.com/izaera)**
_Friday Mar 07, 2014 at 08:04 GMT_

----

Spec: http://www.truecrypt.org/docs/random-number-generator

Perhaps too simple for low levels of entropy like the ones we are going to have in clien

[2016-01-25 18:48] stevenroose commented on #8
<a href="https://github.com/izaera"><img src="https://avatars.githubusercontent.com/u/3273630?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [izaera](https://github.com/izaera)**
_Sunday Mar 23, 2014 at 20:48 GMT_

----

Will implement Fortuna instead.

[2016-01-25 18:48] stevenroose commented on #14
<a href="https://github.com/izaera"><img src="https://avatars.githubusercontent.com/u/3273630?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [izaera](https://github.com/izaera)**
_Sunday Oct 27, 2013 at 15:46 GMT_

----

We won't be able to do:

var cipher = new BlockCipher("AES/SIC");

But we can do:

var cipher = new BlockCipher("AES");
var mode = new ChainingBlockC

[2016-01-25 18:48] stevenroose commented on #16
<a href="https://github.com/izaera"><img src="https://avatars.githubusercontent.com/u/3273630?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [izaera](https://github.com/izaera)**
_Friday Mar 14, 2014 at 20:36 GMT_

----

duplicate of #64

[2016-01-25 18:48] stevenroose commented on #20
<a href="https://github.com/izaera"><img src="https://avatars.githubusercontent.com/u/3273630?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [izaera](https://github.com/izaera)**
_Thursday Nov 14, 2013 at 18:51 GMT_

----

All seems to be OK. Although Salsa20 checks for overflow when 2^70 bytes have been processed I decided not to do the same for SIC because it causes

[2016-01-25 18:48] stevenroose commented on #22
<a href="https://github.com/izaera"><img src="https://avatars.githubusercontent.com/u/3273630?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [izaera](https://github.com/izaera)**
_Wednesday Feb 05, 2014 at 15:13 GMT_

----

commit 1191e4d85538af7d9ac8faffe515e11f724509cd
commit 18eee1eb777096554c1038f1b7a1644707dbfb97

[2016-01-25 18:48] stevenroose commented on #24
<a href="https://github.com/izaera"><img src="https://avatars.githubusercontent.com/u/3273630?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [izaera](https://github.com/izaera)**
_Sunday Nov 03, 2013 at 19:45 GMT_

----

Finally, no ext.dart library was created, but now each interface has an static registry object where the factories are registered.

[2016-01-26 15:53] stevenroose opened #1 "Refactor tests"
_From @izaera on October 21, 2013 14:33_

Refactor tests to create generic tests based on BlockCipher, StreamCipher, Digest, etc. interfaces.

_Copied from original issue: izaera/cipher#1_

[2016-01-26 15:53] stevenroose commented on #1
_From @izaera on October 22, 2013 18:30_

Fixed on https://github.com/izaera/cipher/commit/13d9ab83458559b66ba2c72b89c6fb00e88f1f73

[2016-01-26 15:54] stevenroose opened #2 "Create Uint32, Uint16 and Uint8 classes to handle fixed size unsigned ints"
_From @izaera on October 21, 2013 14:34_

_Copied from original issue: izaera/cipher#2_

[2016-01-26 15:54] stevenroose opened #3 "Refactor algorithms to make use of Uint32, Uint16 and Uint8 classes"
_From @izaera on October 21, 2013 14:34_

_Copied from original issue: izaera/cipher#3_

[2016-01-26 15:54] stevenroose opened #4 "Port CBC mode of operation"
_From @izaera on October 21, 2013 14:34_

_Copied from original issue: izaera/cipher#4_

[2016-01-26 15:54] stevenroose opened #5 "Port PKCS7 padding scheme"
_From @izaera on October 21, 2013 14:34_

Done in commit 6df93a52f48ffcc9875ac3c89f687aa229e6be0e

_Copied from original issue: izaera/cipher#5_

[2016-01-26 15:54] stevenroose opened #6 "Implement SkeinMAC"
_From @izaera on October 21, 2013 14:35_

I have already implemented HMAC because I needed it for PBKDFs.

_Copied from original issue: izaera/cipher#6_

[2016-01-26 15:54] stevenroose commented on #6
_From @Daegalus on November 11, 2013 21:42_

I started working on adding Threefish and Skein to Cipher yesterday, and in the process, I have added Mac, HMac, SkeinMac, and a few other things.

If you want to see a preliminary view of it, go to my fork of cipher, and go to the branch "skein" which I branched off of 0.4.0.

Just giving you a heads up that you might not have to worry too much about t

[2016-01-26 15:54] stevenroose commented on #6
_From @izaera on November 12, 2013 7:24_

Hi Yulian:

That's very good news :-). I saw your branch yesterday when I was
releasing cipher 0.3.1.

It's also good that you branched 0.4.0 because I'm changing all the
factories (now named registry) to be able to create things like:

[code]

or:

[code]

Anyway, don't worry too much about these changes because they don't
affect the crypto APIs (BlockCip

[2016-01-26 15:54] stevenroose opened #7 "Implement SHA-1"
_From @izaera on October 21, 2013 14:35_

_Copied from original issue: izaera/cipher#7_

[2016-01-26 15:54] stevenroose opened #8 "Implement TrueCrypt RNG as EntropySource"
_From @izaera on October 21, 2013 14:35_

Perhaps use Truecrypt's specification.

_Copied from original issue: izaera/cipher#8_

[2016-01-26 15:54] stevenroose commented on #8
_From @izaera on March 7, 2014 8:4_

Spec: http://www.truecrypt.org/docs/random-number-generator

Perhaps too simple for low levels of entropy like the ones we are going to have in client side.

[2016-01-26 15:54] stevenroose commented on #8
_From @izaera on March 23, 2014 20:48_

Will implement Fortuna instead.

[2016-01-26 15:55] stevenroose opened #9 "Create a page like http://www.bouncycastle.org/specifications.html"
_From @izaera on October 21, 2013 14:42_

In the project's wiki

_Copied from original issue: izaera/cipher#9_

[2016-01-26 15:55] stevenroose opened #10 "Document how to use algorithms in the wiki"
_From @izaera on October 21, 2013 14:43_

_Copied from original issue: izaera/cipher#10_

[2016-01-26 15:55] stevenroose opened #11 "Prepare benchmark framework and integrate it with command line tool"
_From @izaera on October 22, 2013 18:9_

Create the command line tool and add the benchmark functionality to begin with (later we will add cipher, decipher, digest, etc. functions).

Port AES fast benchmark to this framework/tool.

_Copied from original issue: izaera/cipher#11_

[2016-01-26 15:55] stevenroose opened #12 "Add cipher, decipher, digest, etc. functions to command line tool"
_From @izaera on October 22, 2013 18:10_

_Copied from original issue: izaera/cipher#12_

[2016-01-26 15:55] stevenroose opened #13 "Define an API similar to JCA to be able to create/extend algorithms by name"
_From @izaera on October 24, 2013 13:38_

We want to be able to do, for example:

   var c = new BlockCipher("AES");

instead of:

   var c = new AESFastEngine()

_Copied from original issue: izaera/cipher#13_

[2016-01-26 15:55] stevenroose opened #14 "Allow block algorithm chaining"
_From @izaera on October 26, 2013 8:22_

Let users do:

var cipher = new BlockCipher("AES/SIC");

_Copied from original issue: izaera/cipher#14_

[2016-01-26 15:55] stevenroose commented on #14
_From @izaera on October 27, 2013 15:46_

We won't be able to do:

var cipher = new BlockCipher("AES/SIC");

But we can do:

var cipher = new BlockCipher("AES");
var mode = new ChainingBlockCipher("SIC",cipher);

[2016-01-26 15:55] stevenroose opened #15 "Implement stream cipher benchmarks"
_From @izaera on October 27, 2013 15:47_

_Copied from original issue: izaera/cipher#15_

[2016-01-26 15:55] stevenroose opened #16 "Implement digest benchmarks"
_From @izaera on October 27, 2013 15:48_

_Copied from original issue: izaera/cipher#16_

[2016-01-26 15:55] stevenroose commented on #16
_From @izaera on March 14, 2014 20:36_

duplicate of #64

[2016-01-26 15:55] stevenroose opened #17 "Initialize ciphers in a generic way when benchmarking"
_From @izaera on October 27, 2013 15:49_

The benchmark tool should look at the types in init() method of ciphers to figure out how to initialize them so that it can init ciphers of different types.

_Copied from original issue: izaera/cipher#17_

[2016-01-26 15:55] stevenroose opened #18 "Document API classes with dartdoc"
_From @izaera on November 1, 2013 15:37_

_Copied from original issue: izaera/cipher#18_

[2016-01-26 15:56] stevenroose opened #19 "Document implementation classes with dartdoc"
_From @izaera on November 1, 2013 16:38_

_Copied from original issue: izaera/cipher#19_

[2016-01-26 15:56] stevenroose opened #20 "Audit currently ported implementations for sizes and boundary conditions"
_From @izaera on November 1, 2013 17:27_

Given that current implementations have been ported from Java it could be the case that they work for the tests but fail for boundary conditions (due to overflows or things like that).

I want to make sure that the current algorithms don't suffer these issues.

_Copied from original issue: izaera/cipher#20_

[2016-01-26 15:56] stevenroose commented on #20
_From @izaera on November 14, 2013 18:51_

All seems to be OK. Although Salsa20 checks for overflow when 2^70 bytes have been processed I decided not to do the same for SIC because it causes some overhead and is very unlikely that it happens.

I added a comment to warn users of SIC so that I can sleep well :-P.

[2016-01-26 15:56] stevenroose opened #21 "Dartdoc implementations"
_From @izaera on November 1, 2013 18:4_

Create dartdoc for implementations of algorithms

_Copied from original issue: izaera/cipher#21_

[2016-01-26 15:56] stevenroose opened #22 "Check conversion to Javascript"
_From @izaera on November 1, 2013 19:13_

I have not yet run tests on Javascript, just in the VM. This should be tested.

_Copied from original issue: izaera/cipher#22_

[2016-01-26 15:56] stevenroose commented on #22
_From @izaera on February 5, 2014 15:13_

commit 1191e4d85538af7d9ac8faffe515e11f724509cd
commit 18eee1eb777096554c1038f1b7a1644707dbfb97

[2016-01-26 15:56] stevenroose opened #23 "NullBlockCipher handles offsets incorrectly"
_From @izaera on November 1, 2013 21:32_

_Copied from original issue: izaera/cipher#23_

[2016-01-26 15:56] stevenroose opened #24 "Refactor the factories"
_From @izaera on November 3, 2013 9:8_

Create an ext.dart library with the API for extending cipher (so that it does not appear in api.dart).

Refactor factories as a class instead of many hashmaps and functions.

This will make, IMO, things clearer and easier to use and maintain.

_Copied from original issue: izaera/cipher#24_

[2016-01-26 15:56] stevenroose commented on #24
_From @izaera on November 3, 2013 19:45_

Finally, no ext.dart library was created, but now each interface has an static registry object where the factories are registered.

[2016-01-26 15:56] stevenroose opened #25 "Implement an entropy source that reads from a URL (f.e: https://www.random.org/cgi-bin/randbyte?nbytes={count}&format=f)"
_From @izaera on November 3, 2013 9:12_

Not too sure about this one: bytes extracted from random.org may be attacked (by eavesdropping or just because random.org may be unfair).

The problem is that, AFAIK, we don't have real sources of randomness in DART.

See http://wiki.openssl.org/index.php/Random_Numbers

_Copied from original issue: izaera/cipher#25_

[2016-01-26 15:56] stevenroose opened #26 "Create StreamCipher factory for "BlockCipher/CTR""
_From @izaera on November 5, 2013 20:47_

This allows using a BlockCipher in CTR mode as a pure StreamCipher

_Copied from original issue: izaera/cipher#26_

[2016-01-26 15:56] stevenroose opened #27 "Add PaddedBlockCipher to allow chaining: block cipher/mode of operation/padding"
_From @izaera on November 5, 2013 20:55_

So that encryption of variable sizes can be done in an intuitive way.

_Copied from original issue: izaera/cipher#27_

[2016-01-26 15:56] stevenroose opened #28 "Let initCipher() be called several times"
_From @izaera on November 11, 2013 20:48_

If you call initCipher() more than once an exception is thrown. This should be fixed as discussed here: [https://groups.google.com/a/dartlang.org/d/topic/misc/_ko-kPSmvPc/discussion]

_Copied from original issue: izaera/cipher#28_

[2016-01-26 15:56] stevenroose commented on #28
_From @izaera on November 11, 2013 20:48_

A fix will be made available as version 0.3.1 so that people can keep working ;-).

[2016-01-26 15:56] stevenroose opened #29 "Adapt to Dart 1.0 release"
_From @izaera on November 12, 2013 7:33_

Now is the time to get your package ready for Dart's release.

If you author Dart packages hosted on pub.dartlang.org, please read on for this important call for participation.

Hello Dart package authors! Time to test and stabilize your packages, and get ready for Dart 1.0. Wait, what?! 1.0? Forealz? Not yet, but soon. You can help the community, and new

[2016-01-26 15:56] stevenroose opened #30 "Implement ECDSA"
_From @izaera on November 13, 2013 21:4_

Implement elliptic curve signatures (http://en.wikipedia.org/wiki/Elliptic_Curve_DSA)

_Copied from original issue: izaera/cipher#30_

[2016-01-26 15:56] stevenroose commented on #30
_From @izaera on January 3, 2014 8:8_

This is finished for Fp field in commit 969927d819d4f46c9c8d6d5fe469e1d460c362ad

[2016-01-26 15:56] stevenroose opened #31 "implement scrypt"
_From @stevenroose on January 1, 2014 22:17_

Feature request. Scrypt is a key deriviation function often used in the light of cryptocurrencies.
A Java implementation of scrypt can be found ar BouncyCastle: `org.bouncycastle.crypto.generators.SCrypt`

_Copied from original issue: izaera/cipher#31_

[2016-01-26 15:56] stevenroose commented on #31
_From @izaera on January 9, 2014 7:27_

BTW: the implementation in BC is broken :-(.

[2016-01-26 15:57] stevenroose opened #32 "Implement PRNG based on block cipher on CTR mode"
_From @izaera on January 2, 2014 7:37_

_Copied from original issue: izaera/cipher#32_

[2016-01-26 15:57] stevenroose opened #33 "Implement entropy source which reads from a file (f.e: /dev/random)"
_From @izaera on January 2, 2014 7:37_

_Copied from original issue: izaera/cipher#33_

[2016-01-26 15:57] stevenroose commented on #33
How will this work when compiled to Javascript?

I suppose there will be multiple entropy sources to chose from so that Web apps can use random.org f.e. as an entropy source. (Like mentioned in a previous issue)

[2016-01-26 15:57] stevenroose commented on #33
_From @izaera on January 2, 2014 10:11_

Regarding the compilation to Javascript: I have no idea ;-). It should work as in Dart. Can you foresee any problems?

About multiple EntropySources: yes. It will work like cipher algorithms. In cipher every algorithm can be instantiated with new AlgorithmInterface("name of algorithm") so you will have something like:

new EntropySource("random.org")

or

n

[2016-01-26 15:57] stevenroose commented on #33
_From @izaera on January 3, 2014 7:47_

Ups. Yesterday I didn't sleep well or something... When replying I thought this was the random.org ticket, not the /dev/random ticket.

Of course it won't work in Javascript. But not only will it fail in JS, neither will it work in Windows or any non-unix OS. The idea is to be able to have many entropy sources available and let the clients of cipher choose w

[2016-01-26 15:57] stevenroose commented on #33
Windows has CryptoAPI as an alternative for /dev/random...
On Jan 3, 2014 8:47 AM, "Ivan Zaera" notifications@github.com wrote:

[2016-01-26 15:57] stevenroose commented on #33
_From @izaera on January 3, 2014 10:29_

I know. But that would need to implement a native library and that’s something I definitely don’t want to do. Firstly because I don’t have the time and resources (read mental energy ;-)) to do it. Secondly because it would still don’t work in the client :-(.

I would prefer to wait for the bug 15064 to be implemented. In the meantime we can use some entropy

[2016-01-26 15:57] stevenroose commented on #33
_From @izaera on January 3, 2014 10:33_

I suggest reading this: http://www.acsac.org/2003/papers/79.pdf

It shows how fragile supposedly secure PRNGS are (including /dev/random :-().

[2016-01-26 15:57] stevenroose commented on #33
Small unrelated question (I can't easily find it on Google): When a pc has
a /dev/hwrng, is the data from that source also included in /dev/random, or
is /dev/random purely software-based?

On Fri, Jan 3, 2014 at 11:33 AM, Ivan Zaera notifications@github.comwrote:

[2016-01-26 15:57] stevenroose commented on #33
_From @izaera on January 3, 2014 10:46_

AFAIK there are two implementations of /dev/random (one for Linux and one for the BSDs+Mac). They collect entropy from the processes, network, etc… I don’t know if the use crypto devices. I suppose they don’t because they are designed to collect entropy when there’s no hardware available. In fact, if you have a HW generator, why not using it directly?

But

[2016-01-26 15:57] stevenroose commented on #33
Well, the argument of why not using it directly is that a program doesn't
know if you have a hardware random number generator. Imo, it should just be
able to point to /dev/random to find the most random information the
computer can provide.
But I'm going back to study now, keep me up to date :-)
On Jan 3, 2014 11:46 AM, "Ivan Zaera" notifications@github.com wrote:

[2016-01-26 15:57] stevenroose commented on #33
_From @izaera on January 3, 2014 10:55_

Hey, that’s as easy as doing:

[code]

Have you googled if someone does that? I wouldn’t be surprised...

[2016-01-26 15:57] stevenroose opened #34 "Use bignum package for BigInteger"
_From @izaera on January 3, 2014 8:6_

Currently I'm used a modified version internally added to cipher of that library. The patches I've made should be transferred to bignum and cipher should rely on that lib.

_Copied from original issue: izaera/cipher#34_

[2016-01-26 15:57] stevenroose commented on #34
_From @izaera on January 15, 2014 13:25_

fixed in commit 540e64186c20a1e24ee79e0b5cc7e8b0302dab72

[2016-01-26 15:57] stevenroose opened #35 "Implement Fortuna as an EntropySource"
_From @izaera on January 3, 2014 8:7_

_Copied from original issue: izaera/cipher#35_

[2016-01-26 15:57] stevenroose commented on #35
_From @izaera on March 7, 2014 8:2_

Info on decisions made: http://crypto.stackexchange.com/questions/14816/unpredictability-vs-randomness?noredirect=1#comment30515_14816

[2016-01-26 15:57] stevenroose commented on #35
_From @izaera on March 7, 2014 10:13_

Example of fortuna in JS: https://github.com/bitwiseshiftleft/sjcl/blob/master/core/random.js

[2016-01-26 15:57] stevenroose commented on #35
_From @izaera on March 12, 2014 8:3_

Link to Fortuna description: https://www.schneier.com/fortuna.html

Link to paper with theoretical founding (brand new :-)): http://eprint.iacr.org/2014/167

[2016-01-26 15:57] stevenroose opened #36 "Implement a key generator for ECDSA"
_From @izaera on January 3, 2014 8:8_

_Copied from original issue: izaera/cipher#36_

[2016-01-26 15:57] stevenroose commented on #36
_From @izaera on January 3, 2014 16:51_

The previous commit does not close this bug. It was an error.

[2016-01-26 15:57] stevenroose opened #37 "Implement entropy source which reads from user keystrokes"
_From @izaera on January 3, 2014 8:43_

This could be used both in server and client if properly abstracted, but it would have the problem that it requires user intervention. On the other hand it would be a truly secure method.

_Copied from original issue: izaera/cipher#37_

[2016-01-26 15:57] stevenroose commented on #37
I thinks it's a better idea to have a generic entropy source at which the
user can add random sequences of bytes, or any other data. Like a sort of
stream. This way the user of the library can chose itself to use
keystrokes, mouse movement or whatever they can obtain in a practical way.

On Fri, Jan 3, 2014 at 9:43 AM, Ivan Zaera notifications@github.com wrote:

[2016-01-26 15:57] stevenroose commented on #37
_From @izaera on January 3, 2014 10:37_

Well, right now there are two interfaces: EntropySource and SecureRandom.

The first one is async and supposed to return “true” random numbers (entropy). The second one is reserved for secure RNGs which can deliver secure numbers (but not true entropy) synchronously.

I will provide some implementations in cipher, but any client of the library can implement

[2016-01-26 15:57] stevenroose commented on #37
I'm not familiar with the interfaces, in fact. (I also can't seem to find
where EntropySource is defined.) But when an EntropySource is used only to
extract bytes to feed to another interface, my proposal seems useless
indeed. But when you initialise an algorithms given an EntropySource, it
does seem practical to have a sort of "dummy" pass-through EntropySource
instead of generating a new one. Us

[2016-01-26 15:57] stevenroose commented on #37
_From @izaera on January 3, 2014 10:54_

They are not yet released. Look at branch 0.5.0 of github’s project. I have pushed them already. ECDSA-Fp is also there.

The “problem” with a passthrough implementation is that it may be error prone if people don’t feed true random numbers. My idea is to have two interfaces to make it clear that:

-EntropySources return true random data
-SecureRandoms retu

[2016-01-26 15:57] stevenroose commented on #37
Ok if that's how the interfaces will be defined, I agree that a dummy is
not fitting.
On Jan 3, 2014 11:54 AM, "Ivan Zaera" notifications@github.com wrote:

[2016-01-26 15:57] stevenroose opened #38 "Implement SHA-256"
_From @izaera on January 4, 2014 22:14_

I need it for scrypt.

_Copied from original issue: izaera/cipher#38_

[2016-01-26 15:57] stevenroose commented on #38
The crypto package has a SHA-256 implementstion.
But I'd understand if you would like to have your own implementation to use
in cipher. Perhaps you can take a look at the source code of the
implementation in the crypto package.
On Jan 4, 2014 11:14 PM, "Ivan Zaera" notifications@github.com wrote:

[2016-01-26 15:57] stevenroose commented on #38
_From @izaera on January 5, 2014 9:51_

Too late :-P

I ported it yesterday from BC. It was fairly direct.

Anyway, as you say I would like to have implementations of everything in cipher in pure Dart. We can, in the future, wrap the native Dart implementations with cipher’s interfaces if someone needs more performance. But having an easy to review open source implementation of crypto is very impo

[2016-01-26 15:58] stevenroose opened #39 "Implement HMAC"
_From @izaera on January 9, 2014 7:24_

_Copied from original issue: izaera/cipher#39_

[2016-01-26 15:58] stevenroose opened #40 "Implement PBKDF2"
_From @izaera on January 9, 2014 7:25_

_Copied from original issue: izaera/cipher#40_

[2016-01-26 15:58] stevenroose opened #41 "Split impl.dart into client and server parts (was 'dart:io dependency in v0.5.0')"
_From @devoncarew on January 15, 2014 17:37_

We're using this package in the context of a web app (actually a chrome app). The latest version has introduced a dependency on `dart:io`. We've temporarily pegged our version dependency at 0.4.0.

Any chance this `dart:io` dependency could be removed, or only included from a `cipher_io.dart` entry-point?

_Copied from original issue: izaera/cipher#41_

[2016-01-26 15:58] stevenroose commented on #41
_From @izaera on January 16, 2014 6:20_

Yes, of course. I will try to split implementation in server and client
parts in the most transparent way.

It should not be too much effort. Then I will publish a new version.

In the future I need to provide some way to cherry pick algorithms
implementations when importing cipher. Right now all of them are loaded
even if you don't use them.

BTW: is it wo

[2016-01-26 15:58] stevenroose commented on #41
_From @izaera on January 16, 2014 7:28_

Can you please check if branch "fixes" (https://github.com/izaera/cipher/tree/fixes) fills your needs?

I have split impl.dart into three libraries (impl.dart, impl_server.dart and impl_client.dart). You should choose exactly one of the three whenever you need to include the implementation.

In addition, the proper way to import cipher now is:

-import "cip

[2016-01-26 15:58] stevenroose commented on #41
_From @devoncarew on January 16, 2014 17:8_

So, from digging into it, we're not using `cipher` directly. We have a transitive dependency on it from the `uuid` package (https://github.com/Daegalus/dart-uuid/blob/master/lib/uuid.dart).

I did clone your repo, and the uuid one, and changed everything to path dependencies. I was able to compile our app again w/ dart2js, so this does fix the issue. I

[2016-01-26 15:58] stevenroose commented on #41
Does this split means that libraries dependent on cipher will also have to make a split for web/native uses?

[2016-01-26 15:58] stevenroose commented on #41
_From @izaera on January 16, 2014 18:28_

I think that error in UUID was already solved. You may contact Uuid owner
(Yulian Kuncheff) and ask him. He sould point UUID to an specific version
of cipher at least until I freeze the API.

Regarding the call to initCipher, the fix allows for backward
compatibility. it's only that uuid is now loading algorithms compatible
with both client and server. But

[2016-01-26 15:58] stevenroose commented on #41
_From @izaera on January 16, 2014 18:34_

@Steven: no need to split, you just include cipher. dart everywhere,
cipher_server.dart in your server's entry point, and cipher_client.dart in
your client entry point. I will try to explain it better in the wiki. Will
keep you informed ;-)
El 16/01/2014 18:10, "Steven Roose" notifications@github.com escribió:

[2016-01-26 15:58] stevenroose commented on #41
_From @izaera on January 16, 2014 18:35_

Regarding native: I'm not planning to do anything with native extensions.
El 16/01/2014 19:34, "Iván Zaera Avellón" izaera@gmail.com escribió:

[2016-01-26 15:58] stevenroose commented on #41
_From @sethladd on January 19, 2014 19:55_

Wow, good timing. I just ran into this. :)

[2016-01-26 15:58] stevenroose commented on #41
_From @sethladd on January 19, 2014 19:56_

Can you publish the new version of cipher to pub? Thanks!

[2016-01-26 15:58] stevenroose commented on #41
_From @izaera on January 20, 2014 8:2_

Hi Seth:

I have just published 0.5.1 with the fix.

Remember that you now must include "cipher.dart" and "impl.dart",
"impl_server.dart", or "impl_client.dart" in your main entry point.
Otherwise, you won't be able to call initCipher().

2014/1/19 Seth Ladd notifications@github.com

[2016-01-26 15:58] stevenroose commented on #41
_From @izaera on January 22, 2014 8:0_

Please see the wiki page on how to import cipher: https://github.com/izaera/cipher/wiki/Importing-the-library

[2016-01-26 15:58] stevenroose opened #42 "Split impl.dart into client and server libraries to be able to include them selectively"
_From @izaera on January 16, 2014 7:17_

_Copied from original issue: izaera/cipher#42_

[2016-01-26 15:58] stevenroose commented on #42
_From @izaera on January 16, 2014 7:19_

duplicate of #41

[2016-01-26 15:58] stevenroose opened #43 "RSA signing"
_From @devoncarew on January 19, 2014 17:37_

This is a feature request to have an RSA signing algorithm. Specifically, I need to be able to:
- create an RSA public and private key
- send a client the public key
- given a token from the client, sign it with my private key

Thanks!

_Copied from original issue: izaera/cipher#43_

[2016-01-26 15:58] stevenroose commented on #43
_From @financeCoding on January 19, 2014 17:42_

+1 for this feature

[2016-01-26 15:58] stevenroose commented on #43
_From @devoncarew on January 19, 2014 17:45_

And, this will all be done in a browser environment (not `dart:io`), so we'll be pushing on that side of the library.

[2016-01-26 15:58] stevenroose commented on #43
Just keep in mind that MD5 is no longer considered safe, whether it is for
signing or for regular digests.
I'm not against this feature but everyone using it should consider using
safer signing algorithms for signing, like ECDSA, which is also supported
by cipher.
On Jan 19, 2014 6:45 PM, "Devon Carew" notifications@github.com wrote:

[2016-01-26 15:58] stevenroose commented on #43
_From @financeCoding on January 19, 2014 19:8_

@stevenroose great point but there is a lot stuff that does use md5 for historical reasons.

[2016-01-26 15:58] stevenroose commented on #43
_From @devoncarew on January 19, 2014 21:52_

So, I totally slipped a gear there. I _meant_ to say RSA when filing this issue; we have a need to be able to create RSA keys and sign a token with them.

[2016-01-26 15:58] stevenroose commented on #43
Makes more sense. I never heard of signing with MD5 but a quick Google returned a few vague results so I considered it was possible...
RSA should be on the feature list, though

[2016-01-26 15:58] stevenroose commented on #43
_From @izaera on January 20, 2014 8:5_

Definitely, we need to have RSA as it is the standard for asymmetric crypto. We already have ECDSA as Steven points out, but missing RSA won't be good.

Right now I'm working on finishing block cipher modes of operation, next will be standard digests (like MD5, for instance) and RSA.

Regarding key generation, we are still missing a good secure source of ent

[2016-01-26 15:58] stevenroose commented on #43
_From @izaera on February 12, 2014 7:20_

I will implement RSA signing from Bouncy Castle, which is following the PKCS 1 standard. I will implement the other standards in future versions.

More info about RSA standards here: http://www.drdobbs.com/rsa-digital-signatures/184404605
and here: https://en.wikipedia.org/wiki/PKCS_1

[2016-01-26 15:58] stevenroose commented on #43
_From @izaera on February 15, 2014 20:46_

Finally, I won't use blinding as in Bouncy Castle, just plain PKCS1 RSA signature. Also, I'm not yet implementing Chinese Remainder Theorem.

[2016-01-26 15:58] stevenroose commented on #43
_From @izaera on February 15, 2014 22:13_

Done and working :-).

[2016-01-26 15:58] stevenroose commented on #43
_From @devoncarew on February 16, 2014 23:38_

Awesome! Looking forward to trying it out.

[2016-01-26 16:00] #1 closed, assigned to izaera

[2016-01-26 16:00] #2 closed, assigned to nobody

[2016-01-26 16:00] #3 closed, assigned to nobody

[2016-01-26 16:00] #4 closed, assigned to izaera

[2016-01-26 16:00] #5 closed, assigned to izaera

[2016-01-26 16:00] #7 closed, assigned to izaera

[2016-01-26 16:00] #8 closed, assigned to nobody

[2016-01-26 16:00] #9 closed, assigned to izaera

[2016-01-26 16:00] #10 closed, assigned to izaera

[2016-01-26 16:00] #11 closed, assigned to izaera

[2016-01-26 16:00] #13 closed, assigned to izaera

[2016-01-26 16:00] #14 closed, assigned to nobody

[2016-01-26 16:00] #15 closed, assigned to nobody

[2016-01-26 16:00] #16 closed, assigned to nobody

[2016-01-26 16:00] #17 closed, assigned to izaera

[2016-01-26 16:00] #18 closed, assigned to izaera

[2016-01-26 16:01] #20 closed, assigned to izaera

[2016-01-26 16:01] #21 closed, assigned to nobody

[2016-01-26 16:01] #22 closed, assigned to nobody

[2016-01-26 16:01] #23 closed, assigned to izaera

[2016-01-26 16:01] #24 closed, assigned to izaera

[2016-01-26 16:01] #25 closed, assigned to nobody

[2016-01-26 16:01] #26 closed, assigned to izaera

[2016-01-26 16:01] #27 closed, assigned to izaera

[2016-01-26 16:01] #28 closed, assigned to nobody

[2016-01-26 16:01] #29 closed, assigned to nobody

[2016-01-26 16:01] #30 closed, assigned to izaera

[2016-01-26 16:01] #31 closed, assigned to nobody

[2016-01-26 16:01] #32 closed, assigned to izaera

[2016-01-26 16:01] #33 closed, assigned to izaera

[2016-01-26 16:01] #34 closed, assigned to izaera

[2016-01-26 16:01] #36 closed, assigned to nobody

[2016-01-26 16:01] #38 closed, assigned to izaera

[2016-01-26 16:01] #39 closed, assigned to izaera

[2016-01-26 16:01] #40 closed, assigned to izaera

[2016-01-26 16:01] #41 closed, assigned to izaera

[2016-01-26 16:01] #42 closed, assigned to izaera

[2016-01-26 16:01] #43 closed, assigned to izaera

[2016-01-26 16:01] stevenroose opened #44 "Implement most used block cipher modes of operation"
_From @izaera on January 20, 2014 8:9_

This includes all those found in BouncyCastle:

-GCTR
-ECB
-CFB
-OFB

_Copied from original issue: izaera/cipher#44_

[2016-01-26 16:01] stevenroose commented on #44
_From @izaera on January 21, 2014 9:42_

OFB: commit 393c17707cc7409a60f4017bd947c5721665ec3c
CFB: commit a7e17255bf512d4d3955a48fc0a963fd119634b9
ECB: commit 19b534bcc095a868856ac54fabec204a494a2eb9
GCTR: commit 1f4502eb1dafa8d1399e76cbd637eadafd6cb471

[2016-01-26 16:01] stevenroose opened #45 "Implement most used digests"
_From @izaera on January 20, 2014 8:10_

Implement missing digests from BouncyCastle

_Copied from original issue: izaera/cipher#45_

[2016-01-26 16:01] stevenroose opened #46 "Implement most used AEAD modes of operation"
_From @izaera on January 21, 2014 9:39_

See https://en.wikipedia.org/wiki/AEAD_block_cipher_modes_of_operation for an explanation of what AEAD mode is.

_Copied from original issue: izaera/cipher#46_

[2016-01-26 16:01] stevenroose opened #47 "It's not possible to compress an ECPoint (using Fp) like it is in BouncyCastle"
_From @stevenroose on January 21, 2014 23:39_

Did you skip the `ECPoint.Fp()` method from BouncyCastle on purpose?

There is currently no way to compress an `ECPoint`, neither using the `ECPoint` or the `ECCurve` class.

If compression can be achieved using the `ECPoint.createPoint(BigInteger x, BigInteger y, [bool withCompression = false])` method by using uncompressed `x` and `y` and setting th

[2016-01-26 16:01] stevenroose commented on #47
I think I found it.

Hmm, I'm not to experienced with ECDSA, but I think a compressed ECPoint object is different than just using the  `ECPoint.getEncoded(bool compressed)` method with `compressed = true`, right? Or does it make little sense to store the `ECPoint` in compressed form?

[2016-01-26 16:01] stevenroose commented on #47
_From @izaera on January 22, 2014 7:50_

Regarding using point compression you can read this:

http://nmav.gnutls.org/2012/01/do-we-need-elliptic-curve-point.html

I need to investigate the specifics of getEncoded(bool compressed) and
ECPoint(...., withCompression) because I ported them directly from
Bouncy Castle and I'm not sure how they work. As far as I have seen,
it's just a flag and you are

[2016-01-26 16:01] stevenroose opened #48 "Register most used standard ellyptic curves"
_From @izaera on January 22, 2014 7:51_

Don't forget bitcoin curve: https://en.bitcoin.it/wiki/Secp256k1

_Copied from original issue: izaera/cipher#48_

[2016-01-26 16:01] stevenroose opened #49 "a way to encrypt/decrypt data of arbitrary length"
_From @stevenroose on January 26, 2014 0:27_

BC uses a `CipherStream`, I think.

I'm not sure if Dart has something as a ByteStream that could be underlying this. But it might be cumbersome to split your input data into multiple blocks to use the `processBlock()` method.

I'm not sure of a `Uint8List BlockCipher.processData(Uint8List input)` is possible?

_Copied from original issue: izaera/ciphe

[2016-01-26 16:01] stevenroose commented on #49
_From @izaera on January 26, 2014 18:22_

If you need to use a block cipher for encrypting stream data you must do one of two things:

1-Use a padding for the block cipher
2-Use a mode of operation like CTR which converts a block cipher into a stream cipher

For the first option, you have to do:

[code]

For the second option you just do something like:

[code]

I don't know if this is enough for

[2016-01-26 16:01] stevenroose commented on #49
I planned to use AES/CBC/PKCS7, I think it's one of the most popular uses
of AES, no?
I just didn't seem to find a convenient way to do it, buy I'll take a
second look at the API. I only looked at the BlockCipher API that only has
a `processBlock()` method.
On Jan 26, 2014 7:22 PM, "Ivan Zaera" notifications@github.com wrote:

[2016-01-26 16:01] stevenroose commented on #49
Hmm, looks like for larger amounts of data, I'm actually meant to use a
stream cipher mode, right?
OK, that clears things up :-)
On Jan 26, 2014 7:42 PM, "Steven Roose" stevenroose@gmail.com wrote:

[2016-01-26 16:01] stevenroose commented on #49
_From @izaera on January 26, 2014 20:21_

I would use AES/CTR. It gives you an stream cipher (no need to pad) and is
supposed to be very secure. I think CBC is more used because it is older,
but many people suggest changing to CTR mode of operation.

You can, nevertheless use a blockcipher with padding. It should work too.
It's only that you must take care of padding which also  implies that you
k

[2016-01-26 16:01] stevenroose commented on #49
_From @izaera on October 15, 2014 20:36_

I think this is already resolved?

[2016-01-26 16:02] stevenroose opened #50 "Design a way to automatically load algorithm implementations"
_From @izaera on January 26, 2014 18:33_

The idea is to avoid the need to call initCipher() before using the library. I'll try to call initCipher() from Registry.create().

Also, it would be good to redesign initCipher() so that it can be tweaked to load only the algorithms used. This is a good starting point: http://blog.sethladd.com/2013/04/lazy-load-libraries-in-dart.html

_Copied from origina

[2016-01-26 16:02] stevenroose commented on #50
_From @izaera on January 27, 2014 9:29_

According to this: http://feedproxy.google.com/~r/sethladd/aGPE/~3/okOCiSHeifE/minification-is-not-enough-you-need.html  algorithms which are not used (nor registered with cipher's registry) wouldn't be sent through the wire when in client side.

[2016-01-26 16:02] stevenroose commented on #50
So this is basically what I tried to tell you in the previous e-mail? Ok,
nice :)

Btw, the method of mailing a third mail as a response to the first e-mail
is a much more efficient way of making me read the second e-mail first than
adding it to the subject line and eventually still sending that third
e-mail :D I was genuinly confused because the READ THIS ONE FIRST was
actually the first (bottom)

[2016-01-26 16:02] stevenroose commented on #50
_From @izaera on January 28, 2014 19:57_

I tried to provide an specialized "impl" library which would export all algorithms so that the use can cherry pick which one to uses and bypass the registry. But I have reverted it. The main reason is that currently I have three impl.dart files: the base one, the client and the server. Thus, I have to make three of those specialized libraries. And even in

[2016-01-26 16:02] stevenroose opened #51 "ECPrivateKeyParameters missing"
_From @stevenroose on January 27, 2014 19:38_

The documentation here references the classes
https://github.com/izaera/cipher/blob/721e783c01168dad7f6188bb3e59065d968f61c1/lib/signers/ecdsa_signer.dart#L29

They are probably copied from BC.

I'll take a look at your testing code for how you did the ECDSA signing :)

This is the piece of code I'm trying to mimic:
https://code.google.com/p/bitcoinj/

[2016-01-26 16:02] stevenroose commented on #51
_From @izaera on January 27, 2014 20:44_

See file ecdsa_signer_test.dart.

I renamed ECPrivateKeyParameters to PrivateKeyParameter so that it can be reused for, say, things like RSA.

El 27/01/14 20:38, Steven Roose escribió:

[2016-01-26 16:02] stevenroose commented on #51
Makes sense. Thanks

[2016-01-26 16:02] stevenroose opened #52 "Implement BufferedPaddedBlockCipher"
_From @stevenroose on January 27, 2014 21:14_

http://www.cs.berkeley.edu/~jonah/bc/org/bouncycastle/crypto/paddings/PaddedBufferedBlockCipher.html

Take your time, I'm far from even ready for testing :)

_Copied from original issue: izaera/cipher#52_

[2016-01-26 16:02] stevenroose opened #53 "Secure ECDSA signature against collision of k (RFC-6979)"
_From @stevenroose on January 28, 2014 18:30_

There is a flaw in the ECDSA algorithms by which the private key can be revealed from signatures.
Namely, when two different messages are signed with the same (randomly generated) k-value. (https://github.com/izaera/cipher/blob/master/lib/signers/ecdsa_signer.dart#L75)

However, a proposed (and accepted) solution is to use a hash of the message and th

[2016-01-26 16:02] stevenroose commented on #53
_From @izaera on January 28, 2014 19:36_

:-DDD

Are you reading my mind or something? I asked recently this related question:

http://crypto.stackexchange.com/questions/13098/how-to-protect-against-ephemeral-key-reuse-in-some-signature-schemes

And one of the answers was to look at that RFC. I had it in my TODO list. But I have to define then two algorithms: one for standard ECDSA and another one

[2016-01-26 16:02] stevenroose commented on #53
Does the RFC really change the algorithm?

Hashing can be seen as generating a random number with a seed. The fact that now two identical messages generate the same signature is not really an issue. I'd even see it more as a feature.

I don't know how it's generally done, but myself, I'd consider "hash the message + private key" to be compliant with the requirement of "generate a random number". A

[2016-01-26 16:02] stevenroose commented on #53
_From @izaera on January 28, 2014 19:46_

Not the algorithm, but I don't know yet (because I haven't looked at the details) how it would be modeled in cipher. I don't know if it's just enough to provide an specialized instance of SecureRandom or if I must have another ECDSA with different init()'s CipherParameters...

But of course, the algorithm seem to be the same: it's just that you don't pull

[2016-01-26 16:02] stevenroose commented on #53
A simple boolean `deterministicK` or similar in the `generateSignature()` method would do, but the problem is that it wouldn't fit in the `Signer` interface.

I don't know what possibilities the `CipherParameters` class has that is passed in the `init()` method.

[2016-01-26 16:03] #44 closed, assigned to izaera

[2016-01-26 16:03] #45 closed, assigned to izaera

[2016-01-26 16:03] #48 closed, assigned to nobody

[2016-01-26 16:03] #49 closed, assigned to nobody

[2016-01-26 16:03] #50 closed, assigned to izaera

[2016-01-26 16:03] #51 closed, assigned to nobody

[2016-01-26 16:03] #53 closed, assigned to izaera

[2016-01-26 16:04] stevenroose opened #54 "Make cipher work when compiled to Javascript"
_From @izaera on January 28, 2014 19:59_

_Copied from original issue: izaera/cipher#54_

[2016-01-26 16:04] stevenroose commented on #54
Do static variables like `Int32.ZERO` break in JS?

[2016-01-26 16:04] stevenroose commented on #54
_From @izaera on January 29, 2014 7:21_

Nope. Only Int64 failed but as I only used them to map digest lengths to byte arrays, I changed them to byte operations and everything went smooth.

[2016-01-26 16:04] stevenroose opened #55 "For the (BigInteger) seed value, seed.toByteArray() is called. However, some curves have null passed as seed."
_From @stevenroose on February 3, 2014 0:44_

I think I spotted a bug in the code for adding the default EC curves.

It's here: https://github.com/izaera/cipher/commit/b3e368c2f1f4820d61de1a2db2fd2e62dbcc9b05#diff-7a54e357f23ee4f7ce6e681b8ef1d118R409

For the (BigInteger) seed value, `seed.toByteArray()` is called. However, some curves have `null` passed as seed.

_Copied from original issue: izae

[2016-01-26 16:04] stevenroose opened #56 "fixed bug in ecc_fp.dart"
_From @stevenroose on February 3, 2014 0:56_

`BigInteger.toByteArray()` doesn't seem to return a `Uint8List`. So it needs to be converted.

How thoroughly has ECDSA been tested? I'm currently writing some tests for Dartcoin, so a bug in cipher could make me waste a lot of time.

_Copied from original issue: izaera/cipher/pull/56_

[2016-01-26 16:04] stevenroose commented on #56
oops wrong branches

[2016-01-26 16:04] stevenroose opened #57 "fixed bug in ecc_fp.dart"
_From @stevenroose on February 3, 2014 0:59_

`BigInteger.toByteArray()` doesn't seem to return a `Uint8List`. So it needs to be converted.

How thoroughly has ECDSA been tested? I'm currently writing some tests for Dartcoin, so a bug in cipher could make me waste a lot of time.

_Copied from original issue: izaera/cipher/pull/57_

[2016-01-26 16:04] stevenroose commented on #57
_From @izaera on February 3, 2014 7:40_

Hi Steven:

All algorithms are black box tested with one or two test vectors. This is more than enough for simple algorithms that don't have branches (ifs) like block and stream ciphers, digests, etc. but ECDSA is more complex and some things may not have tested.

Maybe running a coverage tool over tests could reveal if some parts are untested. Nevertheless

[2016-01-26 16:04] stevenroose commented on #57
_From @izaera on February 3, 2014 7:41_

BTW: thanks for the bugfix :-)

[2016-01-26 16:04] stevenroose opened #58 "Implement RSA-PSS (and maybe ANSI X9.31)"
_From @izaera on February 12, 2014 7:21_

More info about RSA standards here: http://www.drdobbs.com/rsa-digital-signatures/184404605
and here: https://en.wikipedia.org/wiki/PKCS_1

_Copied from original issue: izaera/cipher#58_

[2016-01-26 16:04] stevenroose opened #59 "Implement OAEP for RSA signature"
_From @izaera on February 12, 2014 7:23_

Need to check what we are actually implementing (I think it's textbook RSA) and decide if it needs to be changed or enhanced in the future.

More info about RSA standards here: http://www.drdobbs.com/rsa-digital-signatures/184404605
and here: https://en.wikipedia.org/wiki/PKCS_1

_Copied from original issue: izaera/cipher#59_

[2016-01-26 16:04] stevenroose opened #60 "Implement PKCS1 padding for RSA"
_From @izaera on February 13, 2014 20:49_

_Copied from original issue: izaera/cipher#60_

[2016-01-26 16:04] stevenroose commented on #60
_From @izaera on February 14, 2014 7:35_

Tests are not working for public key (because of random)

[2016-01-26 16:04] stevenroose opened #61 "Provide one-shot methods for algorithms in the API"
_From @izaera on February 14, 2014 7:46_

The idea is to have methods that don't receive offsets, lengths, nor output buffers. For example, we could have:

[code]

In BlockCipher, StreamCipher, Digest, etc...

Perhaps, implement them via mixins.

_Copied from original issue: izaera/cipher#61_

[2016-01-26 16:04] stevenroose commented on #61
_From @izaera on February 14, 2014 7:47_

This is in addition to current methods. That way users can decide whether to use the current "complex" methods to enhance performance with large buffers or use the simple methods to make coding easier (but at the expense of, maybe, creating more Uint8Lists than needed).

[2016-01-26 16:05] stevenroose opened #62 "New Pub release"
_From @shepheb on February 18, 2014 20:57_

We want to depend on the new RSA support, but it's not on Pub yet. Is there anything holding back a 0.6.0 release of cipher?

_Copied from original issue: izaera/cipher#62_

[2016-01-26 16:05] stevenroose commented on #62
_From @izaera on February 18, 2014 21:4_

Yes. I need to support Uint64 on Javascript. I'm working on it right now and it should be finished soon. Probably before this week ends.

Also, there's a bug in package bignum which is making cipher fail. I have sent a pull request to Adam Singer but got no reply yet. If I can't get him to publish a new version when I have finished Uint64 for JS, I will fi

[2016-01-26 16:05] stevenroose commented on #62
_From @devoncarew on February 18, 2014 21:7_

@financeCoding, so he sees this issue. Adam, @shepheb is looking at integrating some of your USB/ADB work into Spark (using this fancy new RSA support).

[2016-01-26 16:05] stevenroose commented on #62
_From @financeCoding on February 18, 2014 22:54_

I'll review the PR and publish new version by today. If I don't please feel free to email or message me directly.

[2016-01-26 16:05] stevenroose commented on #62
_From @financeCoding on February 19, 2014 4:42_

@devoncarew @izaera http://pub.dartlang.org/packages/bignum has been updated to `0.0.5`

@shepheb feel free to ping me an any adb questions. I'm not an expert in it but have read the protocol doc a few times so far.

Also do we have a way to convert from RSA key format to OpenSSL format? ADB expects OpenSSL format. I think if we stay in OpenSSL ever

[2016-01-26 16:05] stevenroose commented on #62
_From @izaera on February 19, 2014 7:26_

Right now there's no support in cipher for "binary formats" (everything is abstract). In the case of RSA, all you get is a bunch of bytes in ASN1 format, as specified in RSA's PKCS1 standard. I don't have time yet to support binary formats although I agree it would be good to have them.

For your specific case I would recommend an ad-hoc implementation of

[2016-01-26 16:05] stevenroose commented on #62
_From @izaera on February 19, 2014 7:27_

BTW: I'm still implementing the Uin64 thingie, so I won't release cipher yet. Can you, at least, integrate with github's development branch so that we can see if anything is failing? I will update pubspec.yaml now to point to the new bignum relase.

[2016-01-26 16:05] stevenroose commented on #62
_From @izaera on February 20, 2014 20:24_

Hi there:

Good and bad news. Good is that I have a running implementation of 64 bit arithmetic for both JS and the VM. Bad is that 64 bit digests fail the tests in JS even thought the 64 bit arithmetic seems to be working right.

So, I have to debug it, but is going to take long I suspect.

What I'll probably do is releasing cipher without support for 64

[2016-01-26 16:05] stevenroose commented on #62
_From @financeCoding on February 20, 2014 20:26_

Are you using any shift operations ? I would not be surprised if that causes failures when compiled to JavaScript

[2016-01-26 16:05] stevenroose commented on #62
Are shifts known to cause problems in JS? I'm using them as well.. Is this
because JS only uses a double-precision format for numbers and no real
integer format?

On Thu, Feb 20, 2014 at 9:26 PM, adam notifications@github.com wrote:

[2016-01-26 16:05] stevenroose commented on #62
_From @financeCoding on February 20, 2014 20:38_

It should be a known issue, I'm not at my computer but try searching dartbug or bigbum issues for it

[2016-01-26 16:05] stevenroose commented on #62
_From @izaera on February 20, 2014 20:39_

Shifts seem to be working for me. I don't know what is really failing...

[2016-01-26 16:05] stevenroose commented on #62
_From @izaera on February 23, 2014 17:15_

Finally I have everything working for VM and JS. I will release a new version during next week when all docs and makefiles are ready. I hope to have it ready for Monday or Tuesday. In the meantime, you can use the development branch of this github's repo as it won't probably change any more until I release the version.

Thanks all for your patience :-).

[2016-01-26 16:05] stevenroose commented on #62
_From @izaera on February 24, 2014 20:59_

I have published cipher 0.6.0 now. Closing this bug.

[2016-01-26 16:05] stevenroose opened #63 "next"
_From @izaera on February 24, 2014 21:0_

Next version milestone

_Copied from original issue: izaera/cipher#63_

[2016-01-26 16:05] stevenroose opened #64 "Benchmark and optimize digests"
_From @izaera on February 25, 2014 8:18_

Right now MD5 runs at 1.11 KB/s in a Mac with i7 and 8 cores :-(.

_Copied from original issue: izaera/cipher#64_

[2016-01-26 16:05] stevenroose commented on #64
_From @izaera on February 25, 2014 8:27_

AES gives: 19,79 MB/s

Something must be very wrong with digests.

[2016-01-26 16:05] stevenroose commented on #64
_From @izaera on February 26, 2014 21:24_

It was not the digest, but the fixed arithmetic. See this boring discussion in misc-dart:

https://groups.google.com/a/dartlang.org/forum/#!topic/misc/FhxVVywbBeo

What I'll do is to rewrite UintX probably to static functions that control overflow instead of classes. This should give a great performance boost like in AES.

In the meantime, I will upload a

[2016-01-26 16:05] stevenroose commented on #64
_From @izaera on March 21, 2014 20:57_

Optimization finished

[2016-01-26 16:05] stevenroose opened #65 "RSA key generator calls `new SecureRandom()` with no algorithm name"
_From @shepheb on February 26, 2014 19:31_

If one calls `init()` on an `RSAKeyGenerator` without supplying a randomizer, it tries to call `new SecureRandom()`, which fails because it doesn't specify an algorithm name, and `""` is not a valid algorithm.

This can be worked around, of course, by supplying a randomizer oneself. But either the fallback should work, or the caller should be required to

[2016-01-26 16:05] stevenroose commented on #65
_From @izaera on February 26, 2014 19:38_

Right now I don't want to provide a default SecureRandom because we don't have an standard entropy source in Dart and the two provided by cipher are not easily usable.

But you can pass a ParametersWithRandom in init() and provide the SecureRandom yourself. See the table here:

https://github.com/izaera/cipher/wiki/Table-of-provided-algorithms

for a desc

[2016-01-26 16:05] stevenroose commented on #65
_From @izaera on February 26, 2014 19:39_

You can of course use the two EntropySources provided by cipher, one reads from a file (can be used with /dev/random) and the other from a URL (can be used with random.org, though it is not secure).

I mean to get the entropy for the key and IV.

[2016-01-26 16:05] stevenroose commented on #65
_From @shepheb on February 26, 2014 19:56_

Since I'm generating a key for authenticating with ADB (the Android Debug Bridge) over USB, the security of the key is not vital. I don't know of any entropy source even in a Chrome App, and certainly not on the web.

However! In my specific case, I do have a source of mediocre entropy to use. It just occurred to me: the Android device generates a random

[2016-01-26 16:05] stevenroose commented on #65
_From @izaera on February 26, 2014 20:21_

Good :-).

Nevertheless maybe you are interested in starring this bug I created: https://code.google.com/p/dart/issues/detail?id=15064

I'll close this bug. If you have any problems, reopen another one.

[2016-01-26 16:05] stevenroose opened #66 "Added support for DER encoding to ECSignature"
_From @stevenroose on March 3, 2014 22:7_

Ported this from [dartcoin.ECDSASignature](https://github.com/dartcoin/dartcoin-lib/commit/7164fafe05b9d02f0264bf5c12d3f384d61c8f82).

I implemented the decoding in a quite defensive way by checking validity and throwing a `FormatException` when something invalid is found. If you don't like this, feel free to omit the checks.

I also know you prefer to om

[2016-01-26 16:05] stevenroose commented on #66
_From @izaera on March 4, 2014 7:27_

Let me think about this one. The way to implement encoding I had in mind was by using auxiliar classes: something like, say, "interface SignatureEncoder" and then a "DERSignatureEncoder" implementation. That way, we decouple abstract objects (signatures, keys, and so on) from their encoding.

In your case I'll probably get your code and move it to such encoder

[2016-01-26 16:05] stevenroose commented on #66
_From @izaera on March 4, 2014 7:29_

BTW: the case of RSA was different because there's no "abstract RSA signature", the DER encoding has to be fully embedded in the algorithm because it is then hashed to make the signature, so I cannot decouple it.

[2016-01-26 16:05] stevenroose commented on #66
Well, I thought just because it is only temporarily that an inline implementation was good enough.

This is the way I'm doing it in Dartcoin. I'm doing a lot of inline serialization (usually only +-10 lines), because almost all classes have serialization. If I had to create a separate encoding and decoding class for every regular class, I would have almost 3 times as many files.

If you prefer not

[2016-01-26 16:06] stevenroose opened #67 "Removed some unused code"
_From @stevenroose on March 3, 2014 22:8_

I didn't get any errors when removing this, so I think it's no longer required.

Besides, you can use `CryptoUtils.bytesToHex(List<int> bytes)` from `package:crypto` for this purpose.

_Copied from original issue: izaera/cipher/pull/67_

[2016-01-26 16:06] stevenroose commented on #67
_From @izaera on March 4, 2014 7:23_

Ups. That's from one of the many tests I do directly inside the code (dirty practice; specially if I commit them to the final release :-().

Will try to merge it later in the evening.

[2016-01-26 16:06] stevenroose commented on #67
_From @izaera on March 12, 2014 7:40_

I forgot about this.

Thanks for the contribution. :-)

[2016-01-26 16:08] stevenroose opened #68 "Fix process() method of PaddedBlockCipher"
_From @izaera on March 5, 2014 8:7_

Right now it just processes one block of data instead of chaining calls to processBlock() and a last one to doFinal().

_Copied from original issue: izaera/cipher#68_

[2016-01-26 16:08] stevenroose commented on #68
You could also make process() private and create processBytes() for the
chaining method. I believe BC so uses the name processBytes somewhere...
On Mar 5, 2014 9:07 AM, "Ivan Zaera" notifications@github.com wrote:

[2016-01-26 16:08] stevenroose commented on #68
_From @izaera on March 5, 2014 9:13_

Mmm. Not sure.

I have one "process()" method which is the same across all interfaces (block cipher, stream, digest, etc.).

The idea is to have a "method for dummies/lazies/pragmatics" which does the "canonical" operation for each algorithm, in one shot and without too much hustle. And I guess it's better that it has the same name in all interfaces.

Thus, I

[2016-01-26 16:08] stevenroose commented on #68
_From @izaera on March 5, 2014 19:52_

Fixed in commit add2695d8763ce41220fc491d98402fd981ffe44

[2016-01-26 16:08] stevenroose opened #69 "Implement EntropySource which reads the output of an executable application"
_From @izaera on March 7, 2014 8:6_

This is especially for Windows which hasn't got /dev/random.

Example of binary to use (gathers random numbers from CryptoAPI, I think): http://www.winutilis.net/html/app/pwg/

_Copied from original issue: izaera/cipher#69_

[2016-01-26 16:08] stevenroose commented on #69
_From @izaera on March 28, 2014 9:23_

Another way to harvest entropy in a windows server: http://powershell.org/wp/2014/02/01/revisited-powershell-and-encryption/comment-page-1/

[2016-01-26 16:08] stevenroose commented on #69
_From @izaera on March 28, 2014 9:56_

Activate powershell: http://technet.microsoft.com/en-us/library/ee176949.aspx

[2016-01-26 16:08] stevenroose commented on #69
_From @izaera on March 28, 2014 10:3_

Powershell script to dump 32 bits of entropy:

[code]

[2016-01-26 16:08] stevenroose opened #70 "Define and implement some entropy estimators"
_From @izaera on March 7, 2014 8:8_

https://www.gnu.org/software/gnu-crypto/manual/api/gnu/crypto/tool/Ent.html

Can be used to measure entropy whether offline or during execution of EntropySources for monitoring.

_Copied from original issue: izaera/cipher#70_

[2016-01-26 16:08] stevenroose opened #71 "Json Web Token : sha256 signature"
_From @amaurel on March 11, 2014 12:36_

First I would like to thank you for your great work!

I need to generate Json web token (https://developers.google.com/accounts/docs/OAuth2ServiceAccount).
I'm currently using openssl to signed the token.
Here's the command line I am using.

[code]

Is it possible to use cipher library to do the same thing ?
I could not find sha256 signer test case.

_Copie

[2016-01-26 16:08] stevenroose commented on #71
_From @izaera on March 11, 2014 13:33_

Hi Alex:

Thanks for your thanks ;-)

I'm not an expert of openssl so I don't know what that command does exactly. As far as I can see it is signing some file contents with RSA and SHA-256 digest, getting the private key from the pem file.

Now, in cipher there's no support for (de)serialization yet, so it won't read the pem file. What you can definitely do

[2016-01-26 16:08] stevenroose commented on #71
_From @izaera on March 11, 2014 13:40_

BTW: Here's how you generate an RSA key pair:

https://github.com/izaera/cipher/blob/master/test/key_generators/rsa_key_generator_test.dart

Of course you need to drop the FixedSecureRandom line and provide your own SecureRandom instance. More on random numbers in cipher and the inherent problems with TRNG in Dart here:

https://github.com/izaera/cipher/wiki

[2016-01-26 16:08] stevenroose commented on #71
_From @amaurel on March 11, 2014 13:46_

Thanks for your quick answer.
In the meantime I've found out the answer here is the source code ...
(usefull for others ...)

[code]

and here https://github.com/izaera/cipher/wiki/Table-of-provided-algorithms.

[2016-01-26 16:08] stevenroose commented on #71
_From @amaurel on March 11, 2014 13:58_

Right now I'm not concern by performance since I just need to generate one access token every few minutes ...
But it is great to hear that performance will come.

I will run a test and compare with the signature generated by openssl, I will keep you inform.
I will also try to come with a decent pem file parser ...

[2016-01-26 16:08] stevenroose commented on #71
_From @izaera on March 11, 2014 14:10_

Good to hear that :-). My idea is to define some sort of abstract serializing/deserializing interfaces so that then everybody can implement them for different formats.

It would look something like this:

var bytes = readFile("myfile.pem");
var deserializer = new PrivateKeyDeserializer("PEM");
var privKey = deserializer.deserialize(bytes);

And this:

var by

[2016-01-26 16:08] stevenroose commented on #71
_From @amaurel on March 11, 2014 17:16_

it works great :-)

[2016-01-26 16:08] stevenroose commented on #71
_From @izaera on March 12, 2014 6:15_

Glad to read that :-)

[2016-01-26 16:09] stevenroose commented on #71
_From @izaera on March 12, 2014 7:49_

Thanks for the link to the other project. I may integrate it into cipher in the future as I told you in the previous comments.

[2016-01-26 16:09] stevenroose commented on #71
_From @amaurel on March 12, 2014 9:15_

I am currently writing rsa_pkcs library, to handle rsa public/private key in PKCS#1,PKCS#8 format ... I will publish it today.

[2016-01-26 16:09] stevenroose commented on #71
_From @amaurel on March 12, 2014 10:49_

https://github.com/amaurel/rsa_pkcs
PKCS#1,PKCS#8
PKCS#8 encrypted not yet implemented

More test cases will come ...

An interesting link that describes DER format : https://polarssl.org/kb/cryptography/asn1-key-structures-in-der-and-pem

[2016-01-26 16:09] stevenroose commented on #71
_From @izaera on March 12, 2014 14:1_

Good! :-)

Do you have any plans to publish it in pub? If so I may wrap you parser as well as asn1lib (if licenses are compatible) to integrate it with cipher. It would save me a lot of work.

[2016-01-26 16:09] stevenroose commented on #71
_From @amaurel on March 12, 2014 14:12_

I've just sent a pull request to update asn1lib. Once the new version of  asn1lib will be publish, I will push rsa_pkcs to pub.

https://github.com/wstrange/asn1lib/pull/2

[2016-01-26 16:09] stevenroose commented on #71
_From @izaera on March 12, 2014 14:14_

That sounds good. Is asn1lib's author willing to publish it in pub too? Correct me if I'm wrong but I think it is not there yet...

[2016-01-26 16:09] stevenroose commented on #71
_From @amaurel on March 12, 2014 14:15_

asn1lib is already in pub

[2016-01-26 16:09] stevenroose commented on #71
_From @amaurel on March 12, 2014 14:15_

https://pub.dartlang.org/packages/asn1lib

[2016-01-26 16:09] stevenroose commented on #71
_From @izaera on March 12, 2014 14:20_

:-o

Don't know what I searched for this morning, then... But good, anyway. I've seen Warren will push the version with your pull today.

Thanks again for sharing.

Cheers,
Ivan

[2016-01-26 16:09] stevenroose commented on #71
_From @amaurel on March 12, 2014 15:27_

I don't think it make sense to have another package like rsa_pkcs, if you guide me be providing proper interface for key serialization, I would be glad to help you integrating rsa_pkcs into cipher.
Moreover I would like to have pem file protected by a password (using aes ?), and to do that I need cipher and probably some advices from you :-)

[2016-01-26 16:09] stevenroose commented on #71
_From @izaera on March 12, 2014 15:33_

OK. Great. I'll try to finish the performance tunning first and then I'll have a look at the serialization interfaces. I guess they should be very simple.

Nevertheless, I'm not sure if it is better to integrate everything inside cipher or if it makes sense to create libraries on top of/below cipher for serialization. Given that asn1lib is already there it c

[2016-01-26 16:09] stevenroose commented on #71
_From @amaurel on March 13, 2014 8:24_

My concern was about circular dependencies, cipher use rsa_pkcs which in turn use ciper to encrypt the key. But I realize that loosely coupled components using smalladapters, plus some kind of dependency injection mechanism through factory registration seems acceptable.
Tell me if I am wrong, but that is the pattern used in ciper.

[2016-01-26 16:09] stevenroose commented on #71
_From @izaera on March 13, 2014 8:48_

Yes, that's more or less what I use.

Regarding circular dependencies I didn't think about them, so I can't be sure if that can be a problem. I'll give it a thought too...

[2016-01-26 16:09] stevenroose commented on #71
_From @amaurel on March 15, 2014 9:53_

latest asn1lib and rsa_pckcs in pub, json_web_token as well :-)

[2016-01-26 16:09] stevenroose commented on #71
_From @izaera on March 16, 2014 19:9_

Wow! Congratulations. That was fast.

I'll try to take advantage of it for future cipher versions. Right now I prefer to devote more time to getting a decent true RNG. Otherwise we will have big problems to do true cryptography.

But serialization should not be delayed too much as it is also an important feature so it will probably go after. Also, it shouldn'

[2016-01-26 16:09] #54 closed, assigned to izaera

[2016-01-26 16:09] #55 closed, assigned to izaera

[2016-01-26 16:09] #56 closed, assigned to nobody

[2016-01-26 16:09] #57 closed, assigned to nobody

[2016-01-26 16:09] #60 closed, assigned to izaera

[2016-01-26 16:09] #61 closed, assigned to nobody

[2016-01-26 16:09] #62 closed, assigned to nobody

[2016-01-26 16:09] #63 closed, assigned to nobody

[2016-01-26 16:09] #64 closed, assigned to izaera

[2016-01-26 16:09] #65 closed, assigned to nobody

[2016-01-26 16:09] #66 closed, assigned to nobody

[2016-01-26 16:09] #67 closed, assigned to nobody

[2016-01-26 16:09] #68 closed, assigned to izaera

[2016-01-26 16:09] #69 closed, assigned to izaera

[2016-01-26 16:14] stevenroose opened #72 "Integrate with docgen"
_From @izaera on March 12, 2014 8:0_

Remove dartdoc and use docgen

_Copied from original issue: izaera/cipher#72_

[2016-01-26 16:14] stevenroose commented on #72
_From @izaera on March 12, 2014 8:8_

see commit 72acb04a917ba8567667292d333918ea831d02f2
see commit c6dd3d877676a3cb2b42cf9ab24ae50631e1f85f

[2016-01-26 16:14] stevenroose opened #73 "Investigate how asn1lib and rsa_pkcs could be integrated with cipher"
_From @izaera on March 13, 2014 9:53_

See https://github.com/izaera/cipher/issues/71 for a discussion of this proposal.

_Copied from original issue: izaera/cipher#73_

[2016-01-26 16:14] stevenroose opened #74 "Make SHA-3 usable in terms of speed"
_From @izaera on March 14, 2014 20:38_

As SHA-3 has been removed from the set of standard supported digests, it should be optimized so that it is usable (in terms of speed) and returned to the set of supported digests.

_Copied from original issue: izaera/cipher#74_

[2016-01-26 16:14] stevenroose opened #75 "Remove a registry dependency in the Scrypt algorithm."
_From @stevenroose on March 17, 2014 17:3_

I don't know how you usually deal with such a situation, but it's the first time that I got an exception from cipher because I don't use the cipher registry.
Personally, I don't think internal cipher code should rely on the registry.

I might be willing to find other similar cases and change them to a registryless version.

_Copied from original issue: i

[2016-01-26 16:14] stevenroose commented on #75
_From @izaera on March 17, 2014 19:13_

I usually pass dependencies to other algorithms in the constructor. For example, in PBKDF2, the constructor receives a Mac.

But for this case what you've done is correct, because scrypt is not pluggable. As it is specified it always uses HMAC and SHA-256 digest.

[2016-01-26 16:14] stevenroose opened #76 "Create a default SecureRandom implementation which seeds itself from the default EntropySource"
_From @izaera on March 23, 2014 20:49_

_Copied from original issue: izaera/cipher#76_

[2016-01-26 16:14] stevenroose commented on #76
This is also required for `ECDSASigner` to work, because currently the sign method throws an error on this line: https://github.com/izaera/cipher/blob/devel/lib/signers/ecdsa_signer.dart#L55

I think this is again a case of cipher internally making use of the registry. Only with SecureRandom, is't harder to replace with a specific implementation, because you want to use the default everywhere and

[2016-01-26 16:14] stevenroose commented on #76
_From @izaera on March 27, 2014 15:41_

I'll probably remove that dependency on the registry and move it to the constructor. It also gave some problems in RSA. I like to make all dependencies explicit, even to SecureRandoms, so as to decouple implementations from specifications and strategies for chaining them.

Thanks for the hint ;-).

[2016-01-26 16:14] stevenroose commented on #76
_From @izaera on March 27, 2014 15:42_

Nevertheless you'd better use deterministic ECDSA if you can. Randomized ECDSA is a bit fragile because it's so dependent on the RNG.

[2016-01-26 16:14] stevenroose commented on #76
Well, the init method tries to assign a SecureRandom to _random anyways,
whether I use deterministic ECDSA or not. (I do use deterministic ECDSA in
fact, I suggested supporting it myself :p)

Take a look at line 55, it's in the init method and doesn't check the
digest and mac attributes.

On Thu, Mar 27, 2014 at 4:42 PM, Ivan Zaera notifications@github.comwrote:

[2016-01-26 16:14] stevenroose commented on #76
_From @izaera on March 27, 2014 18:48_

That's true. I need to refactor that class a bit. If it is deterministic it
shouldn't create the random, neither accept ParametersWithRandom in init
method.

I knew I shouldn't do it with an if but by subclassing. Laziness is bad for
software development :-).
El 27/03/2014 19:18, "Steven Roose" notifications@github.com escribió:

[2016-01-26 16:14] stevenroose commented on #76
I still get an error on the `ECDSASigner.init` method because it tries to create a `SecureRandom()`. It will look into the registry for the registered default one but not find it. The SecureRandom() constructor should create a default random even if the registry is not initialized.

[2016-01-26 16:14] stevenroose commented on #76
_From @izaera on June 25, 2014 9:51_

You need to pass a ParametersWithRandom<PrivateKeyParameter> to init()
method. The method tries to create a SecureRandom only if you pass a
PrivateKeyParameter alone.

Unfortunately there's no way to create a SecureRandom by default. To
generate secure random numbers I need to install a lot of things so that I
can gather entropy from somewhere. I have that dev

[2016-01-26 16:14] stevenroose commented on #76
I remember it again. I fixed this issue in my own cipher copy awaiting you to do the same. The issue is: When you use a deterministic k-value, the random is not used. But still the init method tries to initialize a random.
So a workaround could be to specify a random but that's not very ideal. A better solution would be to not assign the random when a kMac is specified.

[2016-01-26 16:14] stevenroose opened #77 "Use CRT for RSA signing"
_From @izaera on March 25, 2014 18:47_

Note: CRT stands for Chinese Remainder Theorem

_Copied from original issue: izaera/cipher#77_

[2016-01-26 16:14] stevenroose commented on #77
_From @izaera on March 25, 2014 20:21_

commit 4e82fb007c163ea2c825a40d8522e2d2f0e61108

[2016-01-26 16:14] stevenroose opened #78 "CBC mode resets underlying cipher when init() is called"
_From @stevenroose on March 28, 2014 10:13_

I tried to use a PaddedBlockCipher like this:

`new PaddedBlockCipherImpl(new PKCS7Padding(), new CBCBlockCipher(new AESFastEngine()));`

When I call the init method, it is propagated to all sub-ciphers, -paddings and modes.

However, the `CBCBlockCipher.init()` method calls the `reset()` method at the end (https://github.com/izaera/cipher/blob/master/l

[2016-01-26 16:14] stevenroose commented on #78
_From @izaera on March 28, 2014 10:36_

Not so weird, because they are that: "unit" tests. And this is an integration problem ;-).

I'll look at it later.

[2016-01-26 16:15] #72 closed, assigned to nobody

[2016-01-26 16:15] #74 closed, assigned to nobody

[2016-01-26 16:15] #75 closed, assigned to nobody

[2016-01-26 16:15] #77 closed, assigned to nobody

[2016-01-26 16:15] #78 closed, assigned to nobody

[2016-01-26 16:48] stevenroose opened #79 "Standardize and make unit tests of init and reset methods"
_From @izaera on March 28, 2014 11:11_

Right now it's not clear when init() should reset() or not. It even gets worse when chaining several algorithms.

See issue #78 for an example.

_Copied from original issue: izaera/cipher#79_

[2016-01-26 16:48] stevenroose opened #80 "PaddedBlockCipher doesn't add padding when data length is a multiple of the block size"
_From @stevenroose on March 28, 2014 12:23_

I'm still using the same block cipher:

`new PaddedBlockCipherImpl(new PKCS7Padding(), new CBCBlockCipher(new AESFastEngine()));`

When I call the process method (after removing the `reset()` in `CBCBlockCipher` (see #78)), I get the following error:

`Caught Illegal argument(s): Input buffer too short`
It's thrown here: https://github.com/izaera/cipher

[2016-01-26 16:48] stevenroose commented on #80
I think I know what's causing the `PaddedBlockCipher` to fail.

When decrypting, the input bytes size is a multiple of the block size. Also, when processing bytes with such a size, at the end, a full block needs to be padded. However, PaddedBlockCipher only adds padding when `_encrypting` is true (see `doFinal()`). This results in calling processBlock with an offset equal to the input size, so the

[2016-01-26 16:48] stevenroose commented on #80
_From @izaera on March 28, 2014 21:4_

As you said, there was a problem with decryption. I had no text for that (only for encryption) so I guess it was never really implemented :-(.

Nevertheless, it should be fixed already in devel branch.

Thx.

[2016-01-26 16:48] stevenroose commented on #80
I still got the following errors in my test cases:

`Caught Illegal argument(s): Invalid or corrupted pad block`
It's thrown here: https://github.com/izaera/cipher/blob/devel/lib/paddings/pkcs7.dart#L37

I'm sorry that I'm pushing so hard on this, but this is an issue in a very critical test case for me (encryption and decryption of Bitcoin private keys) that I want to fix asap.

But still, I'd ra

[2016-01-26 16:48] stevenroose commented on #80
_From @izaera on March 29, 2014 9:49_

Can you send me a sample block that I can use to reproduce it. It should be easy. Just put a print() before calling the PaddedBlockCipher and send me the bytes you are processing (a printed list will do, no special format is necessary). That would make it much easier for me to fix it.

Thx.

[2016-01-26 16:48] stevenroose commented on #80
This is it: [71, 2, 172, 5, 38, 80, 115, 198, 202, 151, 33, 35, 227, 43,
59, 13, 188, 76, 58, 37, 138, 113, 223, 216, 94, 3, 154, 112, 207, 123,
102, 184]

This value has been created by an encrypt call by the same type of cipher
(of course differently init'ed).

On Sat, Mar 29, 2014 at 10:49 AM, Ivan Zaera notifications@github.comwrote:

[2016-01-26 16:48] stevenroose commented on #80
_From @izaera on March 29, 2014 12:49_

Mmmm. There's no padding there. That is the cause. It should have an
additional block of all padding I think. That's 16 bytes set to 0x10 them
all. I'm not at the computer. Will try to check it in the afternoon.

Probably the process() or doFinal() method is not taking that into account.
😞

[2016-01-26 16:48] stevenroose commented on #80
Ow, I took the bytes I inputted into the PaddedBlockCipher, so there should
not be padding.

This is the one the PaddedBlockCipher puts into the processBlock method
from the underlying cipher in doFinal:
[130, 142, 244, 97, 139, 139, 62, 79, 210, 210, 88, 82, 93, 166, 208, 195,
95, 147, 161, 172, 226, 209, 121, 113, 62, 99, 102, 56, 167, 62, 208, 162]
(This test runs with random keys, so here is t

[2016-01-26 16:48] stevenroose commented on #80
_From @izaera on March 29, 2014 15:14_

Got it. The problem (as I suspected) is when encrypting: the resulting text does not have the padding.

[2016-01-26 16:48] stevenroose commented on #80
_From @izaera on March 29, 2014 17:3_

WARNING: This fix introduces a **BREAKING CHANGE** in PaddedBlockCipher specification. Read its API documentation to know about the changes.

[2016-01-26 16:48] stevenroose commented on #80
_From @izaera on March 29, 2014 17:10_

Should be fixed now. Please try it and tell me if it works.

[2016-01-26 16:48] stevenroose commented on #80
Hmm, the error is resolved, but now I get "Provided AES key is wrong", but that can be my own fault, will look into it asap.

[2016-01-26 16:48] stevenroose commented on #80
Did you run round trip tests yourself for this? Because if you didn't, please do. If there would still be an issue, I'm desperately looking for a bug in my code that possibly isn't there.

[2016-01-26 16:48] stevenroose commented on #80
_From @izaera on March 29, 2014 17:59_

Yes. Even the tests in the suite test the same output and input.
El 29/03/2014 18:38, "Steven Roose" notifications@github.com escribió:

[2016-01-26 16:48] stevenroose commented on #80
_From @izaera on March 29, 2014 18:5_

Who gives the error?
El 29/03/2014 18:59, "Iván Zaera Avellón" izaera@gmail.com escribió:

[2016-01-26 16:48] stevenroose commented on #80
Now I'm having something weird. I had 4 test cases that failed because of this bug, now only 1 remains. (I had some other errors in the other ones, but they are resolved.)

Now the weird thing is, the problem is in a test where I test decrypting a keypair with an incorrect decryption key. However, the following error is thrown:

`Caught Illegal argument(s): Invalid or corrupted pad block`

But, I

[2016-01-26 16:48] stevenroose commented on #80
_From @izaera on March 30, 2014 9:56_

Hi Steven

There's no concerto of malformed key. Keys for symm ciphers don't have any
structure so they are valid as long as they have a correct length.

This means there's no way to know for a cipher is decryption was right or
wrong. The only way would be for the caller to check the decrypted data
semantics (if they exist).

Said that, when you pad you are a

[2016-01-26 16:48] stevenroose commented on #80
Just a question (I don't have the time today to look into it in more detail), but when decrypting, how does the paddedblockcipher know if there has been padded an extra block at the end during encryption?

I'll try to push what I have now to a separate branch so you can take a look at it. I can't really find any  problem in my implementation.

[2016-01-26 16:48] stevenroose commented on #80
Ok, I'm currently going through the whole thing step by step because it's the only thing I can do. (I actually should be studying for my test tomorrow, but this bothers me.)

I came upon this line: https://github.com/izaera/cipher/blob/devel/lib/paddings/pkcs7.dart#L34
`var count = clip8(data[data.length - 1]);`

It's that count that generates the error I get because of this test:
`if( count > dat

[2016-01-26 16:48] stevenroose commented on #80
Oooh, I'm seeing something new:

[code]

That `code` variable might explain why the last byte of the data is related to the data size. HOWEVER, that final byte is only correct if the data has been decrypted with the correct key, no? See what happens here:

[code]

If the last block has been processed with an incorrect key, the last byte of the data will be random, so it cannot be used to remove th

[2016-01-26 16:48] stevenroose commented on #80
_From @izaera on March 31, 2014 5:49_

I'll be busy this week, not sure if I will be able to get some time.

Nevertheless, your conclusions are correct. The pkcs7 padding is a bunch of
bytes all with the same value which coincides with the length of the bunch
of bytes. When the key is incorrect is gets garbled and it cannot be
correctly unpadded. That's why you get the exception.

I agree it would

[2016-01-26 16:48] stevenroose commented on #80
I don't know what Exceptions cipher already has defined, but I think an
ArgumentError indicates that the user has provided invalid parameters (like
null's or arrays of incorrect length). So I'd rather see it as something
else than an ArgumentError.

It seems that you don't really have an Exception policy yet, so for now I
just catch anything and conclude that the key was incorrect.

I'm glad this

[2016-01-26 16:48] stevenroose commented on #80
_From @izaera on March 31, 2014 19:28_

That's true. I've created no exceptions for cipher. There are two reasons for that: one is that I'm lazy, the other that there are not too many places where I can throw them.

In your case I agree an InvalidCipherTextException would be better, but it's the only place where I can throw it. And, on the other hand, if you push it to the limit, and ArgumentError

[2016-01-26 16:48] stevenroose opened #81 "Added hashCode and == operator to all params"
_From @stevenroose on March 29, 2014 15:12_

I needed this for ScryptParams and decided to add it to all of them.

Only one still has an issue (I placed a TODO): ParametersWithRandom. For this param, I only took the runtimeType of the SecureRandom into account. Otherwise, I'd have to implement hashCodes and equals for all randoms as well, which would cascade in adding them to all block ciphers.

I

[2016-01-26 16:48] stevenroose commented on #81
Ok ignore this, I again selected wrong branches (GitHub always selects master as default)

[2016-01-26 16:48] stevenroose opened #82 "Added hashCode and == operator to all params"
_From @stevenroose on March 29, 2014 15:14_

I needed this for ScryptParams and decided to add it to all of them.

Only one still has an issue (I placed a TODO): ParametersWithRandom. For this param, I only took the runtimeType of the SecureRandom into account. Otherwise, I'd have to implement hashCodes and equals for all randoms as well, which would cascade in adding them to all block ciphers.

I

[2016-01-26 16:48] stevenroose commented on #82
_From @izaera on March 29, 2014 15:21_

:-o  Out of curiosity, what do you need that for?

I'll merge it, thanks. Regarding the ParametersWithRandom I think it makes sense to just ignore the SecureRandom (even not doing the runtimeType check). A SecureRandom is not data, but an algorithm, so equals for it doesn't make too much sense, I think...

[2016-01-26 16:48] stevenroose commented on #82
When a private key is encrypted, the KeyCrypter used to encrypt and decrypt
the key is stored along with the encrypted bytes. This means that the
KeyCrypter is just as much a part of the actual key as the encrypted bytes.

For that, to support checking of two keys are equal, the KeyCrypter should
be comparable as well. The currently only existing KeyCrypter is a Scrypt
one, which is completely def

[2016-01-26 16:48] stevenroose commented on #82
_From @izaera on March 29, 2014 15:35_

I see.

I guess that could be better done when ASN.1 encoding is available. You can encrypt the parameters and type of cipher used along with the output (as RSA signing does, for example). Then it's a matter of comparing two bundles of bit data.

As an aside, in that context it would make more sense not to check the SecureRandom in ParametersWithRandom as it

[2016-01-26 16:48] stevenroose commented on #82
(Is it possible to make a change to a PR in GitHub?)

If no, you can remove the runtimeType check from PWR then :)

On Sat, Mar 29, 2014 at 4:35 PM, Ivan Zaera notifications@github.comwrote:

[2016-01-26 16:48] stevenroose commented on #82
_From @izaera on March 29, 2014 15:47_

You can keep pushing to PRs. In the end they are just branches in your repo + a fancy message telling the destination user to pull from it.

But never mind, I'll do it while I merge it. :-)

[2016-01-26 16:52] stevenroose opened #83 "PaddedBlockCipher throws RangeError when empty byte array is inserted"
_From @stevenroose on April 6, 2014 20:32_

I don't know if this issue is related to the recent other bug in PaddedBlockCipher.

Also, I don't know the intended behaviour when trying to encrypt / decrypt an empty byte array, but I do know that Bouncy Castle can handle the case.

I get this error when trying to encrypt an empty byte array:

[code]

That's here: https://github.com/izaera/cipher/blob

[2016-01-26 16:52] stevenroose commented on #83
This issue is still present. @izaera did you have the time to take a look at this yet? This one I cannot fix, as I have no idea :D

[2016-01-26 16:52] stevenroose opened #84 "Dually license the project under Mozilla Public License as well as under LGPL"
_From @izaera on May 11, 2014 18:26_

Initially the project was just released under LGPL 3.0 but due to the way dart2js works, it was necessary to license it under MPL 2.0. This is because LGPL 3.0 forces developers of closed source applications to provide some way to let the final user change the LGPL library by a different implementation which is impossible due to dart2js not supporting dynamic

[2016-01-26 16:52] stevenroose opened #85 "Fixed issue with initializing deterministic ECDSASigner."
_From @stevenroose on June 25, 2014 13:30_

_Copied from original issue: izaera/cipher/pull/85_

[2016-01-26 16:52] stevenroose commented on #85
Is there a reason this is not merged?

[2016-01-26 16:52] stevenroose commented on #85
_From @izaera on November 26, 2014 7:29_

Let me have a look at it because I'm now engaged in other project. I think the last time I saw it I decided not to merge it because I'm refactoring all algorithm construction and initalization.

I'll push the development branch where I'm doing the refactor so that you can have a look at it. Mainly I'm trying to make all construction/initialization the same

[2016-01-26 16:52] stevenroose commented on #85
_From @izaera on November 26, 2014 19:14_

OK. This is the branch: https://github.com/izaera/cipher/tree/devel-wip

You can have a look at what I'm planning in (f.e.) https://github.com/izaera/cipher/blob/devel-wip/test/paddings/padded_block_cipher_test.dart

The idea is to pass all params in a map with defined keys (those starting with Param.). Param.Chain is a special key to be able to pass diff

[2016-01-26 16:52] stevenroose commented on #85
Overall, parameter passing this way, looks a lot better than with
specialized classes. There is one thing that bothers me a little, though.
The Param class is global for all parts of cipher. This means there is no
way to know what parameters a class expects.

I'd suggest to use inner classes, however I know Dart does not support them
(yet) https://code.google.com/p/dart/issues/detail?id=3755, and

[2016-01-26 16:52] stevenroose commented on #85
_From @izaera on November 27, 2014 9:15_

I tried to go that way in my first attempt. The problem is that some
parameters may be shared among several algorithms when you chain them.
For example, if you chain a MAC and a BlockCipher, they normally use the
same key, so you want to have just one Param.Key in your hashmap when
you configure the chain.

Thus, I created Param for well known parameters a

[2016-01-26 16:52] stevenroose opened #86 "Spin off entropy to another project and make cipher independent of client/server"
_From @izaera on October 15, 2014 20:25_

I have entropy sources nearly finished but I have decided to spin off a new project for those who need entropy.

Currently entropy is complicating the code because it is implemented differently in client and server. And also, in server I have to differentiate between Windoze and Unixes. So I'm gonna remove it and move it to a different project.

This will

[2016-01-26 16:52] stevenroose commented on #86
_From @izaera on October 15, 2014 20:26_

I'll change many things, so it's possible that something gets broken. Be warned!

[2016-01-26 16:53] #81 closed, assigned to nobody

[2016-01-26 16:53] #82 closed, assigned to nobody

[2016-01-26 16:53] #84 closed, assigned to izaera

[2016-01-26 16:53] stevenroose opened #87 "Make instantiation of algorithms standard and based on the algorithm name and a pseudo-DSL"
_From @izaera on October 15, 2014 20:56_

The idea is that a non-randomized algorithm state can be serialized/recovered with just its CipherParameters. I mean: if two algorithms with the same name receive the same CipherParameters, they must result in the same outputs for the same data.

Of course, this cannot be done if some algorithm is randomized, but in that case, the SecureRandom should be sp

[2016-01-26 16:53] stevenroose commented on #87
If parameters are serializable, please don't forget to implement hashCode
and the == operator.

Btw, glad you're on cipher again :)

On Wed, Oct 15, 2014 at 10:56 PM, Ivan Zaera notifications@github.com
wrote:

[2016-01-26 16:53] stevenroose commented on #87
_From @izaera on October 16, 2014 13:39_

This bug is because of that PR ;-). It made me think about why ParametersWithRandom cannot implement equals and I think it's because there's something wrong with it. It's the only place where we are passing an "executable" object as a parameter. All other parameters are just data.

BTW: I've been always on cipher, it's just that I've been doing the entropy

[2016-01-26 16:53] stevenroose commented on #87
_From @izaera on October 17, 2014 21:31_

I'll remove the init() method and the initialization parameters will be provided in the constructor with a simple syntax resembling a DSL.

For example, AES/CBC for encryption will be instantiated like this:

[code]

The first param (ForEncryption) is passed to both AES and CBC. The ones inside the Chain are passed as the order in the algorithm name, i.e.,

[2016-01-26 16:53] stevenroose opened #88 "Create a default SecureRandom that can be seeded with a public API function"
_From @izaera on October 17, 2014 21:22_

The idea is to be able to have a default SecureRandom that can be seeded by calling a public function in the API. This way we can generate true crypto random values with the only caveat that the user must provide the initial seed and reseed at intervals if he wants to stay safe.

With this we have a SecureRandom not depending on cipher_entropy that in clie

[2016-01-26 16:54] stevenroose opened #89 "Implement DER encoding for all Signature classes"
_From @stevenroose on November 26, 2014 0:23_

[asn1lib](https://github.com/wstrange/asn1lib) has DER classes for Dart.

I just noticed that I still use my own ECDSASignature class instead of cipher's one, because I need it to have a DER encoding method. And you told me you were thinking about a more generic method for DER encoding than just including a encodeDER() method in the Signature interfac

[2016-01-26 16:54] stevenroose commented on #89
_From @izaera on November 26, 2014 7:33_

In general, I want to decouple serialization from the library. Under this scheme, cipher will only implement the algorithms and another library will be capable of encoding/serializing algorithm configurations, inputs and outputs.

Unfortunately, I don't think I will have time to implement such library (at least in the near future) :-(.

I also have a simpl

[2016-01-26 16:54] stevenroose opened #90 "Secure Random Constructor for Asymmetric Block Ciphers"
_From @Adracus on December 15, 2014 12:41_

Due to asymmetric block ciphers not having a single `blockSize` attribute (they have multiple, `inputBlockSize` and `outputBlockSize`) a Secure Random instance cannot be instantiated as follows:

[code]

That's also why it is not possible to instantiate a PKCS1 Encoded RSA like

[code]

Stack trace for instantiation of SecureRandom:

[code]

_Copied from

[2016-01-26 16:54] stevenroose opened #91 "MD5 and HMAC-SHA1"
_From @cgarciae on January 21, 2015 19:47_

Hi, I have the task to encrypt some information to communicate with an API. I have to create this string

[code]

where `Content-MD5` is

which in my case I think the body would be a JSON string. Then I have to perform the equivalent computation of this Java code

[code]

Since this library ports Java maybe its more straight forward than with the crypto

[2016-01-26 16:54] stevenroose commented on #91
I'm a little confused, you start about doing an MD5 hash of you body and then present a line of code doing something completely different.

To perform MD5, you'd do:

[code]

What the signature concerns, I think this might work:

[code]

I hope it works.

---

These would be the required imports for the code above:

[code]

[2016-01-26 16:54] stevenroose commented on #91
_From @cgarciae on January 22, 2015 0:19_

Sorry if I wasn't clear enough. In dart terms I need to follow the following:
1. Get the JSON body of the POST request as `var bodyString;`
2. Convert the body to hex md5 as `var Content-MD5 = STRING_TO_HEX_MD5_FUN (bodyString);`
3. Assuming you have the variables `HTTP-Verb`, `Content-MD5`, `Content-Type`,  `Date`, `Request-Path`, you have to create the

[2016-01-26 16:54] stevenroose commented on #91
Aha, if you want to sign the complete string, you should replace `md5` in the second piece of code to the bytes of the string: `const UTF8Encoder().convert(stringToSign)`.

Regarding your questions:
1. Yes the string you put in there should be the secret key in hexadecimal notation (I just supposed you'd have the key in hexadecimal notation).
1. The number 64 is the block size for the MD5 and SHA1

[2016-01-26 16:54] stevenroose opened #92 "When the input is long enough, SHA384 often returns wrong result. for short input like 10 20 bytes, it seems to be fine"
_From @izaera on January 22, 2015 7:59_

Hi

in the dart cipher pub package
I found when the input is long enough, SHA384 often returns wrong result. for short input like 10 20 bytes, it seems to be fine.

btw, I'm testing in dartvm,

a test case:

SHA384Digest sha = new SHA384Digest();
print(sha.process(UTF8.encode('123456789012345678901234567890123456789012345678901234567890123456789012345678901

[2016-01-26 16:54] stevenroose opened #93 "HMAC-SHA512 giving inconsistent and incorrect output."
_From @thedoctor on May 12, 2015 4:24_

Hey guys, I picked a project to use to learn Dart and I can't tell if I'm missing something or there is unexpected behavior in the HMAC class. Can anyone else see something I'm doing wrong here?

Trying to do a hmac/sha-512 hex digest of a string for an authentication header and I'm having trouble getting the expected result. I'm also seeing the output chang

[2016-01-31 03:39] azenla opened #94 "SSL Certificate Generation"
Would it be possible to implement SSL certificate generation?

[2016-01-31 13:02] stevenroose commented on #94
I certainly should be, since Bouncy Castle [can do it as well](https://stackoverflow.com/questions/14930381/generating-x509-certificate-using-bouncy-castle-java).

However, I'm not sure if I can do it. @izaera used to make all implementations and ports from BC, so I don't have real experience doing so. But I might want to give it a try for sure.

For now, I first want to get this working in browse

[2016-01-31 20:16] azenla commented on #94
@stevenroose Our code is a very portable IoT Application Platform server. We have at least one user for every single platform/architecture that the Dart VM supports. This includes Android ARM and Android x86. Windows and Android do not ship with OpenSSL natively, and even if we were to ship it with our code, it is less reliable to require OpenSSL, rather than using Dart to do generation.

[2016-02-01 07:41] izaera commented on #94
The only "problem" I see is the usual: AFAIK you need strong random number generators and we don't have a reliable source of entropy right now in Dart. @stevenroose maybe you can get true randomness from the JS crypto API in the browser. For the server case you can resort to /dev/random in unix. In the case of Windows you would need a binary Dart extension to access CryptoAPI.

Unless Google has a

[2016-02-01 07:42] izaera commented on #94
Another possibility for the client would be calling the server using HTTPS to get true randomness for it. It is a riskier scenario, but may make sense if app is not too critical.

[2016-02-01 15:34] stevenroose commented on #94
@izaera I was about to say that as well, but then I noticed that private key generation currently is also done with just a SecureRandom instance.

But fwiw, I think implementing a dynamic entropy source should be possible. The question then is whether the library should call this under the hood, or whether it should ask for entropy. (Like with a ParametersWithEntropy or something).

Currently with

[2016-02-01 15:40] izaera commented on #94
That was my idea when I wanted to split cipher in two: one common for server and client with the algorithms, another with the entropy generation (the only server/client dependent part).

I think the most important point here is not to hide the entropy “issue” from the user as it is _key_ for the security of all crypto to know the source and quality of entropy being used. Having two libraries, wher

[2016-02-01 16:58] stevenroose commented on #94
Well, yes indeed. I also thought about just asking for a load of entropy
instead of asking for an entropy source.

On Mon, Feb 1, 2016 at 4:40 PM, Ivan Zaera notifications@github.com wrote:

[2016-02-01 17:37] izaera commented on #94
But how do you know how much entropy you need in advance? Entropy is expensive and async in nature. If you don’t ask for enough you have a problem, if you ask for too much either, then you are slowing things unnecessarily. That’s why I defined an EntropySource instead of passing an array of bytes.

[2016-02-01 18:43] azenla commented on #94
@stevenroose @izaera Dart v1.14 adds a `Random.secure` constructor for the `Random` class to get a secure random number generator. However, it probably isn't a good idea to use it yet, as they will up the SDK requirement. (We have platforms that will only run Dart v1.12.2 and below currently, so this would be a problem for us)

[2016-02-01 19:15] izaera commented on #94
Where do you plan to get entropy from, then?

[2016-02-09 00:21] TheBosZ commented on #92
:+1:  Trying to write a server that uses a legacy PHP database with SHA-512 hashed passwords. The string returned using this library doesn't match the PHP string.

[2016-02-09 00:32] stevenroose commented on #92
Can you provide an example String that returns an incorrect hash that I can
test against?

On Tue, Feb 9, 2016 at 1:21 AM, Nathan notifications@github.com wrote:

[2016-02-09 00:33] stevenroose commented on #92
And BTW, there is a SHA-512 implementation, this issue is about SHA-384.

On Tue, Feb 9, 2016 at 1:32 AM, Steven Roose stevenroose@gmail.com wrote:

[2016-02-09 00:45] TheBosZ commented on #92
I realize that this is about SHA-384, but SHA-512 has the same problem so I thought it was related.

Here's a PHP example: http://codepad.org/iwRVbvQT
Hash:
`907c90d3c7e9f783dc9427f510c0e6b4f11a0caf85b7d86c53bf5612a77ca8e0691def03232dbfcf95ad2bb45f4752355442b6d6a469722f37a8e166b5364702`

The Dart version: https://gist.github.com/anonymous/8fab686d1edbb07df6ed
Hash:
`261ee5b5cb3667ab6a278da2c1064a8

[2016-02-09 00:47] TheBosZ commented on #92
Shorter strings match (`The quick brown fox jumped over the lazy dog.` matches for both).

[2016-02-09 16:53] stevenroose commented on #92
Ok, I will take a look at it when I get back from vacation, around the 10th
of March.

Btw, you do realise that `codeUnitAt` encodes as UTF-16? I don't know how
the PHP method encodes, but you can do UTF-8 encoding in Dart using
`UTF8Codec` from the `dart:convert` library.

On Tue, Feb 9, 2016 at 1:47 AM, Nathan notifications@github.com wrote:

[2016-02-09 16:55] TheBosZ commented on #92
Because the documentation doesn't talk about what the digest methods expect, I just copied and pasted from the test scripts.

What should I change?

[2016-02-09 16:57] stevenroose commented on #92
Try something like this:
https://gist.github.com/stevenroose/d6dc6f35252d7f880ac7

On Tue, Feb 9, 2016 at 5:55 PM, Nathan notifications@github.com wrote:

[2016-02-09 17:06] TheBosZ commented on #92
It returns the same result as before:
`261ee5b5cb3667ab6a278da2c1064a8b6fdb67380a1d5511aa7400899fecb2a4a6e5546ed3a3f43144d8c3e77ecaf671915ef60f9c5d798ccbbf449fc9841aa0`
Using:
https://gist.github.com/TheBosZ/857aa27a07945b20c7fa

[2016-02-10 06:56] izaera commented on #92
These digests work block by block, so this is probably a problem when more than 1 block is processed. Maybe you can check if that is the case...

Also, don't rely on encodings when testings algorithms, resort to raw bytes and that way you can forget about whether encoding is done right/bad. Once you know the digest algorithm works, you may debug the encoding thing.

[2016-02-11 17:34] stevenroose commented on #92
I've gone over the implementation of `LongSHA2FamilyDigest` and BC's `LongDigest` several times and apart from a few things that I don't fully understand (but that are used also for shorter digests), I cannot find anything looking differently.

(If you don't want to checkout BC, it's here: https://github.com/bcgit/bc-java/blob/master/core/src/main/java/org/bouncycastle/crypto/digests/LongDigest.ja

[2016-02-11 17:36] TheBosZ commented on #92
Can we test what BC does with the long digests? Does it return the correct hash?

If not, it could be a bug in that implementation that came over with this re-implementation.

[2016-02-11 17:37] stevenroose commented on #92
Yes it does it right. That's why I was looking at this, there probably is an error in the re-implementation. OF course with the more eyes on it... I cannot seem to find something, I looked it up and down line by line twice.

[2016-02-11 17:39] TheBosZ commented on #92
If I have any spare time today, I'll take a look and see if I can find anything.

[2016-02-11 18:28] stevenroose commented on #92
The two parts that I could not verify completely (because they are quite complex.. I might try now) are in `_processBlock()`, the stuff in the for-loop at the start and the large for-loop lateron. But since `_processBlock()` is called also for small input sized, I doubt how it can be the culprit.

[2016-02-11 19:05] TheBosZ commented on #92
I agree that the logic is quite complex. I'm trying to pull it apart to simplify it down some.

[2016-02-11 19:11] #80 closed, assigned to nobody

[2016-02-11 19:27] TheBosZ commented on #92
My simplified version passes the test.

I'm going to run the full suite of tests before I submit a PR.

[2016-02-11 20:10] TheBosZ commented on #92
I can confirm that my PR fixes the issues I was seeing in working with my PHP-based hashes.

[2016-02-11 20:32] stevenroose commented on #92
Aha, nice! I looked at your PR and the actual bug was in the first for loop, instead of performing this formula

[code]

it did this

[code]

Wow!

[2016-02-11 20:35] TheBosZ commented on #92
Right, I see it now!

I had to simplify it so I could make sure the logic matched and inadvertently uncovered the problem.

Feel free to reject my PR in favor of just fixing that bit.

[2016-02-11 20:49] stevenroose commented on #92
I merged it, but just reverted it back to using sum. Awesome find, thanks!

Closed by 22665686fe62b7dd086287982d6cf63dfc198678

[2016-02-11 20:49] #92 closed, assigned to nobody

[2016-02-11 20:50] stevenroose commented on #93
@thedoctor This is probably the same as #92.

Can your confirm that it is fixed?

[2016-02-11 21:00] TheBosZ commented on #92
:+1:

[2016-02-12 07:31] izaera commented on #92
Just for the record. I used to debug implementations by running a copy of the algorithm in Java and the same in Dart, side by side. Then I placed random checkpoints in the code, in both copies, and dumped the internal state of the algorithm. By moving the checkpoints I narrowed the offending code. It was easy to catch bugs like that and didn’t involve too much thinking, just comparison.

Cheers,
I

[2016-02-16 22:05] thedoctor commented on #93
@stevenroose Confirmed, my hashes match with the changes from #92 :)

[2016-02-16 23:54] stevenroose commented on #93
Super !

[2016-02-16 23:54] #93 closed, assigned to nobody

[2016-02-18 19:30] mpcomplete opened #96 "SHA-256/ECDSA signer gives invalid results with some inputs"
[ migrated from https://github.com/izaera/cipher/issues/95 ]

I'm using pointycastle in a project, and I have a simple fuzz tester to verify my sign+verify code is correct. Occasionally it will fail with certain seeds to the SecureRandom number generator. Here is a sample reduced test case that fails. (You can add this code to pointycastle/test/signers/ecdsa_signer_test.dart to see it fail in ciph

[2016-02-24 09:47] zoechi opened #97 "The link to the GitHub repo is broken"
(Homepage) https://pub.dartlang.org/packages/pointycastle

[2016-02-27 16:53] sethladd commented on #97
Noticed that, too. :)

Homepage in pubspec.yaml points to pointycastle.github.io but that's a 404. Can we point to the main github repo for now?

[2016-02-27 16:54] sethladd commented on #97
Addressed by https://github.com/PointyCastle/pointycastle/pull/98

[2016-02-27 16:56] sethladd opened #99 "Consider making reflectable a dev_dependency"
If reflectable isn't required at runtime, can you move it to a dev_dependency?

We use pointycastle in Flutter (btw, thanks for the library! :) but PC pulls in reflectable which pulls in analyzer pinned to a very specific version.

Moving reflectable to a dev_dependency (assuming that works) frees up Flutter to move to a newer version of analyzer.

Thanks very much!

[2016-02-27 16:56] sethladd commented on #99
cc @hixie

[2016-03-11 13:51] stevenroose commented on #99
@sethladd Sadle, reflectable is required at runtime:
https://github.com/PointyCastle/pointycastle/blob/master/lib/src/registry/registry.dart#L7

The Registry class is used to easily construct combined and hybrid algorithms.

cc @eernstg, perhaps reflectable can loosen the specific version requirement?

[2016-03-11 13:59] stevenroose commented on #96
Strange. I will look into this next week! (Just came back from a 3-week holiday, so I apologize for my inactivity.)

[2016-03-11 15:43] eernstg commented on #99
It sounds like you haven't upgraded to use reflectable version 0.5.3. Reflectable has had a tight analyzer version constraint for months (`analyzer: 0.27.1`), but we recently found a way to address the underlying problem, and this enabled reflectable 0.5.3 to use the much more flexible constraint `analyzer: ^0.27.2`.

[2016-03-11 17:30] Hixie commented on #99
We do now use the version with the less tight constraint. Our bigger problem though is that we'd like to drop our runtime dependency on the analyzer package entirely, as part of our efforts to reduce our dependency footprint.

[2016-03-11 18:59] eernstg commented on #99
That's an understandable goal! ;-) But it shouldn't have much to do with code that is generated by the reflectable transformer: The generated code does not need to depend on the analyzer.

The transformer itself depends on the analyzer (crucially, so you cannot expect to remove that dependency), but that would affect the footprint of the build process, not the resulting application.

[2016-03-11 19:11] Hixie commented on #99
@stevenroose earlier was saying that the `reflectable` package is required at runtime, though, no?

[2016-03-11 19:16] eernstg commented on #99
Yes, 'reflectable.dart' is required at run time, but it does not depend on the analyzer.

The library 'reflectable.dart' is in fact adjusted to import 'src/reflectable_transformer_based.dart' rather than 'src/reflectable_mirror_based.dart', such that it does not cause a dependency on 'dart:mirrors' and such that it will be able to use the generated mirrors instead.

[2016-03-11 22:45] Hixie commented on #99
Ah, ok. I thought reflectable depended on analyzer. My bad.

[2016-05-26 23:02] #97 closed, assigned to nobody

[2016-05-26 23:04] stevenroose commented on #91
@cgarciae I consider you question answered. If that's not the case, let me know.

[2016-05-26 23:04] #91 closed, assigned to nobody

[2016-05-26 23:07] stevenroose commented on #6
@Daegalus A little late to come back to this, but I saw your SkeinMac implementation. Is it working? Did you make tests for it somewhere?

[2016-05-26 23:10] stevenroose commented on #12
I think a command line tool would be best suited as a separate package depending on this library. It could very well be added to the Pointy Castle project of someone would be willing to contribute it :)

[2016-05-26 23:14] stevenroose commented on #71
I consider this issue resolved. Let me know if it was not.

[2016-05-26 23:14] #71 closed, assigned to nobody

[2016-05-26 23:19] #85 closed, assigned to nobody

[2016-05-27 01:32] daegalus commented on #6
It was working, not sure about it, i kinda stopped working on it. Its a really old branch under hte old name. If you want to pull anything from it you can, but I can't guarantee its still functional. But i did get it hashing the example hashes in the spec. I did not get to writing tests, i was just manually entering them as global variables and inspecting results and intermediate steps.

But ya, I

[2016-05-27 05:37] izaera commented on #12
:+1:

[2016-07-06 22:51] jfphilbin opened #100 "Galois/Counter Mode"
Any chance of getting GCM implemented.  I'm using Dart to build a medical imaging management system, which is a follow on to one we built in Java.  As I'm sure you know, GCM has some nice properties for performance on large objects.  Medical imaging studies are large from 512k (1 image) to > 1GB for CT or MRI.
If GCM is not in the cards can you suggest another one-pass AES block cipher.
I would be

[2016-08-01 13:57] stevenroose commented on #100
Interesting.

Here is the Bouncy Castle source: https://github.com/bcgit/bc-java/blob/master/core/src/main/java/org/bouncycastle/crypto/modes/GCMBlockCipher.java

It'd be a first for me too, but I'll try to take a look at it asap to see if I can make something of it.

Seen from the [Bouncy Castle unit tests for GCM](https://github.com/bcgit/bc-java/blob/master/core/src/test/java/org/bouncycastle/c

[2016-08-02 07:45] izaera commented on #100
Hi @stevenroose

I suggest creating Junit (or whatever) tests for BC with different inputs, printing the outputs and then move those tests to Dart. Then try migrating the code from Java to Dart, then run the tests, then debug as much as you can until all works :-D.

Something that helps is printing the intermediate state of the algorithm in java and dart and compare them. Usually errors come from

[2016-08-02 09:16] stevenroose commented on #100
@izaera Thanks for the suggestion. For now, I have a thesis to finish by the end of August, so I'll have my hands full, but I really want to give this a shot thereafter.

[2016-08-02 09:34] izaera commented on #100
@stevenroose Good look with the thesis, then :-)

[2016-08-04 12:55] stevenroose opened #101 "Schnorr signatures"
Support [Schnorr signatures](https://en.wikipedia.org/wiki/Schnorr_signature).

[2016-09-16 14:26] stevenroose opened #102 "Implement ChaCha20"
Here is the BC implementation:
https://github.com/bcgit/bc-java/blob/master/core/src/main/java/org/bouncycastle/crypto/engines/ChaCha7539Engine.java

[2016-09-16 14:28] stevenroose opened #103 "Implement MAC Poly1305"
BC implementation here:
https://github.com/bcgit/bc-java/blob/master/core/src/main/java/org/bouncycastle/crypto/macs/Poly1305.java

[2016-09-16 14:28] stevenroose opened #104 "Support TLS with ChaCha20/Poly1305"
Here is the BC implementation:
https://github.com/bcgit/bc-java/blob/master/core/src/main/java/org/bouncycastle/crypto/engines/ChaCha7539Engine.java

It depends on ChaCha20 (#102) and Poly1305 (#103).

[2016-10-10 09:35] stevenroose opened #105 "Implement SHAKE128 and SHAKE256"
They are also part of the SHA3 family. For more information, see [Wikipedia](https://en.wikipedia.org/wiki/SHA-3#Instances).

[2016-10-31 07:32] sureshg opened #106 "Can i use this library on browser based apps?"
Tried using pointy castle in  an Angular Dart2 app, but it failed to load the component . Is this something recommended to use in client-side apps?

Configuration used,

[code]

[code]

Things are  fine if i remove the `pointycastle` imports.

[2016-10-31 19:22] stevenroose commented on #106
First of all, you should not only import `api.dart`, because it does not provide implementations of the algorithms. Import `pointycastle.dart` instead: it exports `api.dart` and `impl.dart`.

The error seems to be related to Angular. Did you [add the Angular piece to your `pubspec.yaml` file?](https://angular.io/docs/dart/latest/quickstart.html#!#add-config-files)

I know this sounds silly, but tr

[2016-10-31 19:28] RdeWilde commented on #76
Any update on this @izaera @stevenroose ?

[2016-11-01 12:25] stevenroose commented on #76
@RdeWilde I won't count on it soon. However, I did plan to do some work on this soon. But as I just started with a new job, I don't know when I'll find the time.

[2016-11-04 11:07] stevenroose opened #107 "Use configurable imports to use mirrors when available"
The new configurable imports feature allows a check of `dart:mirrors` is available (`if dart.library.mirrors`, similar to [this](https://github.com/stevenroose/dart-websockets/blob/config-imports/lib/websockets.dart#L11)). One of the major reasons we moved to using reflectable instead of mirrors was because of Flutter not allowing mirrors (https://github.com/flutter/flutter/issues/1150).

I think

[2016-12-07 22:21] johnpryan opened #109 "Pub releases?"
to use the latest version requires using github as a source in `pubspec.yaml` rather than `pub.dartlang.org`

Could we tag a new release of `master`?

[2016-12-07 23:12] stevenroose commented on #109
You can just use the pub release.. Are there source commits that are not yet released?

[2016-12-07 23:15] stevenroose commented on #109
I just bumped the version to push the reflectable update, I'm sorry I forgot that. You should be able to pub upgrade.

[2016-12-07 23:15] #109 closed, assigned to nobody

[2016-12-07 23:21] johnpryan commented on #109
thanks!

[2016-12-08 02:47] stevenroose opened #110 "Wrong result when using Uint8List that's a partial view of a ByteBuffer"
(@izaera I find it strange that you didn't think if this :p)

Due to Dart's lack of a native type for byte arrays, Pointy Castle, and most Dart developers, use `Uint8List` as a replacement. However, `Uint8List` is only a view on a `ByteBuffer`.

Consider the example:
[code]

Now look at this method:
https://github.com/PointyCastle/pointycastle/blob/master/lib/src/ufixnum.dart#L193
The `inp` field

[2016-12-08 02:47] stevenroose commented on #110
Will fix, write extra tests for ufixnum and look for other cases were this happens.

[2016-12-08 03:36] stevenroose commented on #110
This is bad, a lot of my tests in Dartcoin failed once I pulled this update, even though the Pointy Castle ones didn't. Let me see this through. I'm gonna push a roll back release for now so I don't break people's code.

[2016-12-08 14:37] stevenroose commented on #110
Turned out to be a typo. Added extra tests and pushed the fix.

[2016-12-08 14:37] #110 closed, assigned to nobody

[2017-04-25 12:49] zoechi opened #112 "AES-CGM"
I tried to encode messages for push notifications like explained in
https://developers.google.com/web/updates/2016/03/web-push-encryption
but failed on id-aes128-GCM
Do you have any plans to implement the missing parts?

[2017-04-25 16:08] stevenroose commented on #112
If you could share the code that you used to try, I might be able to find something...

As you can see on the homepage of the repo, under Block cipher modes of operations, we don't currently support GCM.

I would invite you to attempt implementing the GCM mode. The Java implementation is here:
https://github.com/bcgit/bc-java/blob/master/core/src/main/java/org/bouncycastle/crypto/modes/GCMBlockCip

[2017-04-26 06:41] zoechi commented on #112
Thanks for having a look and for the links!
I expected that response ;-)
Sadly I'm not used to juggle with bytes in Dart and have no clue about cryptography.

I'd love to dive into that topic though but currently don't have the time.
I hoped someone more efficient at this kind of work would take a stab ;-)

[2017-04-26 06:45] stevenroose commented on #112
Myself, I've been kinda busy lately. I may get always try to give it a
shot, however. But I can't promise anything.

On 26 Apr 2017 8:41 AM, "Günter Zöchbauer" <notifications@github.com> wrote:

[2017-04-26 07:06] zoechi commented on #112
Of course, it's the open source world.

I just tried to port the code from the link in the first comment.
I also borrowed some code from https://github.com/IOT-DSA/sdk-dslink-dart/blob/9157072fd59c799e6fd746a481e23addcf365f7f/lib/src/crypto/pk.dart for the ECDH part.
https://tests.peter.sh/push-encryption-verifier/ should allow to do some verification once the parts are in place.

[2017-08-30 16:49] gurmukhp opened #114 "Unable to use PointyCastle in Flutter due to dependency for dart:mirrors"
I've imported the package as so:

[code]

run `flutter packages get`

import the following

[code]

Unfortunately I get the following errors:
[code]

The old cipher package works totally fine. Do you know how I can fix this error?

[2017-12-14 16:32] jbaxe2 opened #115 "Relevance of ROBOT vulnerability in Bouncy Castle?"
With PointyCastle an 'almost always direct' port of Bouncy Castle, and with Bouncy Castle affected by the ROBOT vulnerability, how relevant is this issue to PointyCastle?

For reference:
https://nvd.nist.gov/vuln/detail/CVE-2017-13098

[2017-12-17 10:26] UlrichRaab commented on #114
i have the same issue. am i allowed to fork this lib and remove the registry? would love to use it in flutter :)

[2017-12-17 10:50] gurmukhp commented on #114
I made a fork and removed the dependency. Feel free to use it :)

It should be a rejected PR for this project.

[2017-12-18 18:34] stevenroose commented on #115
Quoting the page:

(Java Cryptography Extension) for cryptographic functions, provides a weak
Bleichenbacher oracle when any TLS cipher suite using RSA key exchange is
negotiated. An attacker can recover the private key from a vulnerable
application. This vulnerability is referred to as "ROBOT."

This means that the vulnerability was part of the Java Cryptography
Extension and more specifically it

[2017-12-18 18:49] jbaxe2 commented on #115
This is good information to know, thanks.  I will close the issue, as the vulnerability is not relevant for this library.

[2017-12-18 18:49] #115 closed, assigned to nobody

[2017-12-21 20:50] sroddy commented on #114
@gurmukhp I can't find your fork, can you please point me to it? Thanks a lot.

[2017-12-21 21:11] gurmukhp commented on #114
Apologies, I fixed Cipher (which PointyCastle was forked from) and added the necessary fixes. It works fine with Flutter :-)

https://github.com/izaera/cipher/pull/98
https://github.com/gurmukhp/cipher

[2018-01-14 19:22] paulreimer commented on #114
@gurmukhp Why not fork this project and make the fixes? I'm guessing it was easier to fix `cipher` than to remove the `dart:mirrors` dep from `PointyCastle`? Also curious why you say it should be a rejected PR?

What is lost, by removing the use of `dart:mirrors`? IMO it seems support for Flutter is a big win -- at least, there should be a crypto library we can use, if not this one.

[2018-01-14 19:30] paulreimer commented on #114
For very simple use-cases, this library seems to be in the spirit of simple AES encryption for flutter, employing best practices (I have not yet used it).

https://github.com/sroddy/flutter_string_encryption

[2018-01-14 22:27] gurmukhp commented on #114
It is forked, you can grab it here:
https://github.com/gurmukhp/cipher

[2018-01-22 12:01] stevenroose commented on #114
I really want to make this work in Flutter. Will update with a reflectionless version as soon as I can.

[2018-01-22 12:02] stevenroose commented on #114
@gurmukhp if you know what fixes are needed to make this work in Flutter, they would be very welcome.

[2018-01-22 12:26] gurmukhp commented on #114
Hey @stevenroose , you can use my fork which works fine on Flutter:
https://github.com/gurmukhp/cipher

[2018-01-22 13:38] stevenroose commented on #114
@gurmukhp Since I forked PointyCastle from cipher because Ivan stopped supporting it, we've made some additions and several bug fixes. cipher has been unmaintained for like 3 years now.

I don't have much time to maintain PointyCastle myself, but I will commit to making it work on Flutter. I might need it myself for a project.

What needs to be done is to factor out the `Registry` part from the `a

[2018-01-22 13:41] gurmukhp commented on #114
Ah I see, thanks for clarifying.

I forked cipher and then updated the algorithms from PointyCastle over it to ensure the hashing algorithms worked as expected:
https://github.com/izaera/cipher/pull/98/commits/a855f6ead4e427d90c01d1ef9d174be89b777951

I don't think I'll have much capacity to work on getting PointyCastle to work on Flutter in the near future unfortunately.

[2018-01-22 13:44] stevenroose commented on #114
I'll let you know in this issue when I fixed this.

On Mon, Jan 22, 2018 at 2:41 PM, Gurmukh Panesar <notifications@github.com>
wrote:

[2018-01-28 16:55] stevenroose commented on #114
This if fixed in https://github.com/PointyCastle/pointycastle/commit/5a5acfcd03fe42d752e335a9365ce4a58e614ac7, which is version `0.11.0`. I tested it on Flutter myself and works like a charm.

However, the registry won't work, so you will have to manually import the different algorithms you want to use. I'll document that in the README.

[2018-01-28 17:13] #114 closed, assigned to nobody

[2018-01-28 17:48] stevenroose commented on #107
Done in 5a5acfcd03fe42d752e335a9365ce4a58e614ac7

[2018-01-28 17:48] #107 closed, assigned to nobody

[2018-02-12 14:15] ctnguyen opened #116 "Pointycastle broken with new flutter version"
Recently update flutter and I cannot get pointycastle working.

Step to reproduce :
- clone the new flutter source code, run ```flutter doctor``` (or just run ```flutter upgrade``` with existing flutter should do)
- create a new project : ```flutter create toto```
- go into toto directory, edit pubspec.yaml and add ```pointycastle:``` to the dependencies section.
- inside toto directory, run ```fl

[2018-02-19 07:44] hemanthrajv commented on #116
+1

[2018-02-19 09:05] stevenroose commented on #116
What I'm confused about is that Dart 2 doesn't seem to be out yet, but Flutter is already using it.

Ah, you're using the flutter dev channel? Hmm, I'll try to get Dart 2 setup coming weekend, see what error Pointy Castle has and try to fix them. Should be doable.

[2018-02-19 09:10] ctnguyen commented on #116
That was my point as well, not really sure why flutter decide to use Dart 2. But recently flutter has changed the branching strategy, so alpha channel doesn't exist anymore. The best way to reproduce is to remove the existing flutter, and reclone it. It will checkout the newest flutter, defaulted to dev channel, with all the related configuration ( Dart 2 ).
Thanks Steven

[2018-02-19 09:10] stevenroose commented on #106
Btw, right now, you can use PC without mirrors or reflectable.

[2018-03-12 18:45] voidrealms opened #117 "RSA not working on all platforms"
making a set of tutorials, the following code works on mac but not linux.

https://pastebin.com/wZGsjWWF

On Linux it errors out with:
Unhandled exception:
Invalid argument(s): Input too large for RSA cipher
#0      RSAEngine._convertInput (package:pointycastle/asymmetric/rsa.dart:83:8)
#1      RSAEngine.processBlock (package:pointycastle/asymmetric/rsa.dart:73:17)
#2      BaseAsymmetricBlockCiphe

[2018-03-12 21:13] voidrealms commented on #117
Additional info:
  print('OB = ${cipher.outputBlockSize}');
  print('IB = ${cipher.inputBlockSize}');

OB = 0
IB = -1

modified rsa.dart line 83:
    if (inpLen > (inputBlockSize + 1)) {
      print('inpLen= ${inpLen} inputBlockSize=${inputBlockSize}');
       throw new ArgumentError("Input too large for RSA cipher");
    }

inpLen= 11 inputBlockSize=-1

[2018-03-13 19:42] voidrealms opened #118 "RSA key generator never returns key on linux"
import 'dart:math';
import 'package:collection/collection.dart';
import "package:bignum/bignum.dart";

import "./fixed_secure_random.dart";

main(List<String> arguments) {

  var rnd = new FixedSecureRandom();
  var rsapars = new RSAKeyGeneratorParameters(new BigInteger("65537"), 2048, 12);
  var params = new ParametersWithRandom(rsapars, rnd);
  var keyGenerator = new KeyGenerator("RSA");
  keyGe

[2018-03-22 09:02] faboweb commented on #116
+1

[2018-03-22 09:04] hemanthrajv commented on #116
+1

On Thu 22 Mar, 2018, 2:32 PM Fabian, <notifications@github.com> wrote:

[2018-03-22 09:22] stevenroose commented on #116
This should have been fixed some months ago in v0.11.1. See [the README](https://github.com/PointyCastle/pointycastle#without-dartmirrors-or-packagereflectable-flutter).

[2018-03-22 09:23] stevenroose commented on #116
Oh, that's for usage of mirrors. Not about Dart 2. I'll have to look into Dart 2 as well.

[2018-03-22 09:37] faboweb commented on #116
Thank you for your quick response.

[2018-03-27 12:37] faboweb commented on #116
Did you have a chance to lock at the issue yet?

[2018-04-06 09:41] stevenroose opened #121 "Use the new Dart 2.0 BigInt struct instead of bignum's BigInteger"

[2018-04-06 10:02] stevenroose commented on #121
Blocked currently on https://github.com/dart-lang/sdk/issues/32803.

[2018-04-06 13:10] stevenroose commented on #116
I just merged [a PR that solves the strong mode issues](https://github.com/PointyCastle/pointycastle/pull/120) by @kaendfinger (thanks a lot,btw!), and I'm working on [migrating to BigInt](https://github.com/PointyCastle/pointycastle/pull/122) because Dart 2.0 seems to break BigInteger functions.

[2018-04-06 13:11] stevenroose commented on #117
I noticed some issues as well. I will investigate this [once we migrated to BigInt](https://github.com/PointyCastle/pointycastle/pull/122). Once that migration is done, I'll also ping you to test again, because I suspect that BigInt support might solve some problems.

[2018-04-06 13:12] stevenroose commented on #118
@voidrealms This happens in Dart 2, not with Dart 1. I suspect this might be solved [once we migrated to BigInt](https://github.com/PointyCastle/pointycastle/pull/122).

[2018-04-06 13:16] faboweb commented on #116
Thanks for the effort

[2018-04-06 14:25] ctnguyen commented on #116
Thanks a lot for your time.

[2018-04-18 10:44] wilburx9 opened #123 "Help with encrypting a String with an RSA cipher"
So I have this Android library that I am trying to port to Flutter but I got stuck on the encryption part.
The way it works on Android is that a base64 encoded string is used to generate a public key.
Then using the generated public key and an RSA cipher, a string is encoded.

[code]

I don't understand the pointycastle APIs well enough to port the above session to Flutter. Please, I need guidance

[2018-04-18 12:36] stevenroose commented on #123
If you use the latest version of Flutter that uses Dart v2, Pointy Castle won't work until #122 is resolved.

[2018-04-18 12:40] stevenroose commented on #123
Regarding the algorithms, you would create the key generator using
[code]
and the cipher using
[code]
However, Pointy Castle only has support for PKCS7 padding for now.

[2018-04-18 13:36] wilburx9 commented on #123
Thanks. Please, how do `Cipher`? Please, I mean the package for the `Cipher` class.

[2018-05-08 12:30] shibingli opened #124 "Flutter pub get failed . [flutter_test]"
pub get failed

[code]
Flutter version:
[code]

pubspec.yaml:

[code]

[2018-05-08 12:32] stevenroose commented on #124
Support for Dart 2.0 (latest Flutter) is blocked on https://github.com/PointyCastle/pointycastle/pull/122.

[2018-05-09 02:02] shibingli commented on #124
@stevenroose   3Q

[2018-05-09 02:02] #124 closed, assigned to nobody

[2018-05-11 06:25] badboy-tian opened #125 "Error in Dart 2.0, flutter beta3"

[2018-05-11 06:26] badboy-tian commented on #125
[code]

[2018-05-11 10:10] stevenroose commented on #125
Support for Dart 2.0 should come once https://github.com/PointyCastle/pointycastle/pull/122 is resolved. I plan to work on it this weekend.

[2018-05-16 02:24] badboy-tian commented on #125
@stevenroose hi, how about now?

[2018-05-16 08:42] stevenroose commented on #125
I made a lot of progress. There is still one test that fails: generating RSA keypairs. I had to manually implement some of the `pacakge:bignum.BigInteger` methods because `dart:core.BigInt` doesn't have them.

Hopefully I can fix that today!

[2018-05-28 16:21] stevenroose opened #127 "RSAKeyGenerator broken in Dart 2"
Migrating from BigInteger to Dart 2's BigInt introduced an issue with the RSA Key Generator.

The PR introducing the issue is here: https://github.com/PointyCastle/pointycastle/pull/122

This could be solved by https://github.com/dart-lang/sdk/issues/32626, but I'm currently unable to test this.

[2018-05-28 16:28] stevenroose commented on #125
Can you check if this is solved with the new `v1.0.0-rc1` release?

[2018-05-28 16:28] #121 closed, assigned to nobody

[2018-05-28 16:28] stevenroose commented on #116
Can you check if this is solved with the new `v1.0.0-rc1` release?

[2018-05-30 09:35] ctnguyen commented on #116
Thank you, I'll try to test with my code this weekend.

[2018-05-31 14:48] ctnguyen commented on #116
Hi, I tried to download the pointycastle source code and test it by creating a flutter project. I go inside, run

`flutter packages get`

And when I run the test in pointycastle/test/stream/salsa20_test.dart, I got the error below :

`
E/flutter (32662): [ERROR:topaz/lib/tonic/logging/dart_error.cc(16)] Unhandled exception:
E/flutter (32662): Bad state: Reflectable has not been initialized. Did yo

[2018-05-31 15:05] stevenroose commented on #116
@ctnguyen yeah to run tests, you can only run all tests. I think `pub run test` should work or `dart test/all_tests_web.dart`. I'm thinking about removing the whole reflectable shenanigan though. It worked great with mirrors, but since the Dart team started banning mirrors everywhere, the need for reflectable made UX horrible.

[2018-06-04 09:47] ctnguyen commented on #116
Hi, also I try to create a single test in my project, with a simple call

`
var cipher = new StreamCipher( "Salsa20" );
`

I still have issue with Reflectable

`
I/flutter ( 1305):   Bad state: Reflectable has not been initialized. Did you forget to add the main file to the reflectable transformer's entry_points in pubspec.yaml?
I/flutter ( 1305):   package:reflectable/src/reflectable_transformer_

[2018-06-04 12:34] stevenroose commented on #116
I have no idea about that, I'm sorry. It seems like reflectable is not working anymore in Flutter.

What you can always do to avoid using reflectable is to import the Salsa20 class directly:
[code]

You can find more info about using PointyCastle like that here: https://github.com/PointyCastle/pointycastle#without-the-registry

[2018-06-04 13:50] ctnguyen commented on #116
Thanks a lot, it solve my concern since I used only Salsa20.

[2018-06-05 23:40] 333333h1t opened #128 "SHA-3/256 broken?"
Hello, you are using this library in one of my projects but apparently this hash does not give me the same results.

Before I used this implementation of SHA-3/256 (it's not dart)
https://github.com/mpaland/mipher/blob/master/src/sha3.ts

"Lorem ipsum dolor sit amet, consectetur adipiscing elit..."

[code]

(the one of the tests)

[code]
In mipher, use this code to generate the hash:

[code]

I am

[2018-06-06 12:51] stevenroose commented on #128
Can you provide the exact code (Dart and JS) you used and the exact outputs you got? (What's missing I think is just the Dart code.)

[2018-06-06 14:54] 333333h1t commented on #128
@stevenroose https://github.com/PointyCastle/pointycastle/blob/master/test/digests/sha3_test.dart

[2018-06-06 15:02] stevenroose commented on #128
It seems that the SHA3 implementations PointyCastle has, are in fact Keccak implemenations.

I believe in the future the SHA3 standard was not fully specified and thus they were considered equivalent. But from [this document](https://en.wikipedia.org/wiki/SHA-3#Instances), it seems like the SHA3/256 hash is actually defined (in 2015) as Keccak512 capped at 32 bytes.

Strange. Yeah I think the best

[2018-06-07 09:09] mpaland commented on #128
Ah, always again the old Keccak != SHA3 discussion.

I designed the SHA3 module of mipher very carefully. It passes all official test vector tests, so I think you can take your generated output for granted.

@333333h1t , maybe you can try
[code]
to see if this gives you the same results as pointycastle does. Then it's Keccak - not SHA3. :wink:

[2018-06-07 21:12] 333333h1t commented on #128
@mpaland
The implementation of Pointycastle is Keccak, in mipher it gives me

[code]

and in pointycastle "SHA-3/256"
[code]

PS: You made an excellent library, things like that are few.
Unfortunately it is not very well known, it should be.

[2018-06-08 08:50] stevenroose commented on #128
We could use folks like that here :) I took over this project from @izaera some years ago, but I'm struggling finding the time to maintain it properly.

[2018-06-26 22:40] Simon-Laux opened #130 "Quickstart Guide or Tutorials for RSA Signing?"
I'm new to the crypto stuff and I'm kinda lost here. Can you add like a quickstart guide for new-commers?
I want to use it in flutter and I allready got it installed over git -> the pup repo methode wasn't working for me.

[2018-06-28 11:55] krzaklus commented on #127
This bug is still exist? In my code, method generateKeyPair() don't return any value? Anyone had the same problem?

    var parameters = RSAKeyGeneratorParameters(BigInt.from(65537), 1024, 5);

    var secureRandom = new FortunaRandom();
    var random = new Random.secure();
    List<int> seeds = [];
    for (int i = 0; i < 32; i++) {
      seeds.add(random.nextInt(255));
    }
    secureRandom.se

[2018-06-28 17:49] krzaklus commented on #127
Ok i repair this bug.

Fixed implementation of method generateKeyPair, please update this method or give me right to repository push.

The was with bad usage BigInit.

For example:
[code]
This "if" was never "true" because "BigInt.gcd()" return "BigInt" not "int", so "break" never happen and method start infinity loop. I change it to:

[code]

Full fixed method:

[code]

[2018-06-28 18:32] ZeCarlosCoutinho commented on #127
@krzaklus I tried your method, and now the generateKeyPair() is not stuck anymore :) Thanks!
However, when i initialize the RSAEngine with the public key, it gives me the following error:
`type 'RSAPublicKey' is not a subtype of type 'Null'`

The code I have is the following:
[code]
and he throws the exception in the constructor of the PublicKeyParameter.

Is this a problem a consequence of the ch

[2018-06-28 18:59] krzaklus commented on #127
I think is something else, I didn't any changes on types, if you want solve
this you must used this code below (keyParametersPublic must by cast to
type AsymmetricKeyParameter<RSAPublicKey>):

AsymmetricKeyParameter<RSAPublicKey> keyParametersPublic =
new PublicKeyParameter(publicKey);

var cipher = new RSAEngine()..init(true, keyParametersPublic);

My full method:

static String encrypt(String pl

[2018-06-28 19:03] krzaklus commented on #127
I think property
final AsymmetricBlockCipher _rsa = PKCS1Encoding(RSAEngine());

from lib class
class RSASigner implements Signer

need reflection to build, thats why I have that error, but I dont know how
to overide this, do you have any sugestion?

czw., 28 cze 2018 o 20:58 Krzysztof <krzaklus@gmail.com> napisał(a):

[2018-06-29 10:49] ZeCarlosCoutinho commented on #127
I am still a beginner, but I believe it is a problem when the program reaches the `SecureRandom` constructor.
In pkcs1.dart, it crashes in the `init` method, when the cypher parameters are not an instance of `ParametersWithRandom`.
The program enters the "else", and tries to create the instance of `SecureRandom` without the `algorithmName` argument, which I believe its the cause of the error.
[cod

[2018-07-02 14:30] jbaxe2 commented on #130
PointyCastle is for the most part a port of BouncyCastle from Java.  It may be easier to learn the fundamentals of that framework, and translate back what you need for the Dart-y version, PointyCastle (at least that's how I learned about PointyCastle).  For your case you may want to learn about RSA signing generally as well.

[2018-07-02 14:48] jbaxe2 opened #131 "Replace Reflectable transformer with Dart's new build system"
Somewhat related to issue #119.  Version 1.0.0-rc2 supports Dart 2 semantics, yet still relies on using the transformer for the Reflectable package.  This should be updated to Dart's new build system.

Doing so would cause a need for the Reflectable package to be updated to at least 2.0.0-dev.1.0 (though 2.0.1 is current version), which may be more of a pain than at first glance.

[2018-07-03 03:25] mathieujobin commented on #87
is the syntax in the comment above deprecated or still valid ?

[2018-07-03 03:26] mathieujobin commented on #131
I hit an error today about Reflectable `Bad state: Reflectable has not been initialized` I wonder if its related?

[2018-07-03 03:29] mathieujobin commented on #130
There are lot of people who will start using Dart because of Flutter. Telling everyone to look at Java docs won't cut it very long. This will hurt Flutter/Dart adoption in a big way.

I'm looking at using MD5 Digest and AES-CBC decryption using this module, and I need to look at source, tests, and java docs to get a clear picture. mixed with 2-3 years old post that looks to be outdated API from Da

[2018-07-03 06:51] stevenroose commented on #131
Yeah lately I'm thinking about removing the whole reflection part (Dart doesn't seem to really like reflection) and revert to the good old registry with hard-coded values. If only I had the time..

[2018-07-03 06:52] stevenroose commented on #130
I would be very happy if people would contribute some basic examples or docs! I agree that they are useful and even necessary for new users.

[2018-07-03 09:31] mathieujobin commented on #131
I'm getting the error using `Digest("MD5").process(uint8listvar);` any workaround ?

[2018-07-03 09:34] mathieujobin commented on #131
I see, using `MD5Digest()` I don't have the same problem...

[2018-07-03 09:42] mathieujobin commented on #131
if I am understanding this Reflectable transformer thing properly..
is this how `CBCBlockCipher(AESFastEngine())` is equivalent to `BlockCipher("AES/CBC")` ?

[2018-07-03 10:36] mathieujobin commented on #131
Woohooo, I know this is not the place, but I got everything working. Thank you PointyCastle && Steven

[2018-07-13 14:54] ZeCarlosCoutinho opened #132 "Why is outputBlockSize when encrypting different than when decrypting?"
In _asymmetric/rsa.dart_, it is defined what is the _outputBlockSize_ for a RSAEngine.
[code]

Why is the blockSize one byte less when decrypting?
Shouldn't it be the same size as the key?

[2018-07-14 20:45] proteye commented on #127
Please, update 'generateKeyPair' to:
`AsymmetricKeyPair<RSAPublicKey, RSAPrivateKey> generateKeyPair() {...}`

Otherwise I can not do this:
`
print(keyPair.publicKey.modulus);
print(keyPair.publicKey.exponent);
`

[2018-07-14 20:50] proteye commented on #127
I can not use the method `SecureRandom()` in Flutter - it crashes.
`flutter: Another exception was thrown: NoSuchMethodError: The method '[]' was called on null.
`

[2018-07-14 20:57] proteye opened #133 "How to generate RSA key is password protected?"
How to generate RSA key is password protected?
And how to save generated RSA key to file or database? How to save in text format?

[2018-07-23 07:04] egemenvardar opened #134 "Implementation for elliptic curve Diffie Hellman"
As far as I see pointycastle doesn't have a Diffie-Hellman key exchange algorithm implementation. The use case is briefly:
- front-end generates public & private key pair (using elliptic curves)
- sends the public key to the server
- server generates its key pair and sends back its public key
- both parties generate a secret key by using their private key and the public key of the other party

Is

[2018-07-23 07:51] proteye commented on #133
https://gist.github.com/proteye/982d9991922276ccfb011dfc55443d74
This is my implementation of generating RSA keys and saving them to the PEM format.

[2018-07-26 15:31] modulovalue opened #136 "Copy cipher's wiki to pointycastle"
Cipher has a wiki [here](https://github.com/izaera/cipher/wiki/) and a great overview of (almost all) provided algorithms [here](https://github.com/izaera/cipher/wiki/Table-of-provided-algorithms/).

I think it would be great to at least copy the wiki from cipher to pointycastle.
This also might be the first step that could spark more participation from the community towards improving the document

[2018-07-26 19:26] leocavalcante commented on #136
It could be Markdown files in a docs directory so people can contribute with mirroring.

[2018-07-30 11:02] stevenroose commented on #127
@proteye for that specific issue you need to specify a random algorithm. `new SecureRandom("Fortuna")` with registry or `new FortunaRandom()` without registry.

As for the prior comments: are those still relevant? If so, could someone make a PR perhaps?

[2018-07-30 11:21] proteye commented on #127
@stevenroose thank you.
I realized this as follows: https://gist.github.com/proteye/982d9991922276ccfb011dfc55443d74

I fixed the code as @krzaklus and sent PR.
https://github.com/PointyCastle/pointycastle/pull/135

[2018-07-31 15:09] development-s365 opened #138 "AES CBC Parameter parsing using Padding"
Hi

I am trying to decrypt a hex value using AES in CBC mode.
My key, iv and input string are all hex. How can i add padding to my cipher.

[code]

[2018-08-01 10:53] modulovalue commented on #138
your code is confusing. keyparams is not used anywhere and you're using helper methods for converting from and to hex but you clearly know that there is hex.encode and hex.decode

please provide a more clear sample and then someone might help you

but first you should try to convert a single block without `_processBlocks` by using the ciphers process method

[here are some test vectors](https://gi

[2018-08-03 09:26] attdona opened #139 "flutter: unable to install pointycastle"
Flutter version:

[code]

My `pubspec.yaml` deps:

[code]

I've got:

[code]

Is it a way to get ahead?

[2018-08-05 21:14] proteye opened #140 "How to parse OpenPGP pem files?"
How to parse OpenPGP pem files?

My implementation for parsing OpenSSL pem files (parsePublicKeyFromPem, parsePrivateKeyFromPem): https://gist.github.com/proteye/982d9991922276ccfb011dfc55443d74

But I catch "Instance of 'ASN1Exception'" error when I'm parsing OpenPGP generated keys.

[2018-08-06 06:00] pyp163 opened #142 "AES Encrypt、Decrypt"
public static String aesEncrypt(String data, String key) {
        try {

           String spec = key.substring(0, 16);
            SecretKeySpec skeySpec = new SecretKeySpec(key.getBytes(), "AES");
            Cipher cipher = Cipher.getInstance("AES/CFB/NoPadding");
            IvParameterSpec iv = new IvParameterSpec(spec.getBytes());
            cipher.init(Cipher.ENCRYPT_MODE, skeySpec, iv);

[2018-08-06 11:25] proteye opened #143 "How to encode and decode PGP message?"
Hello.
How to encode and decode PGP message like this: "-----BEGIN PGP MESSAGE-----{data}-----END PGP MESSAGE-----"?

[2018-08-07 18:13] aspantel opened #144 "Dependency conflicts when using with Aqueduct 3.0 (Dart2)"
We're migrating from Aqueduct 2.x (Dart1) to 3.0 (Dart2) and now are stuck with the conflict.
Would you be able to upgrade your package's dependencies or suggest a workaround?

Thank you.

Because reflectable >=2.0.2 depends on analyzer ^0.31.0 and reflectable >=0.1.1 <2.0.2 requires SDK version >=1.8.0 <2.0.0-dev.infinity, reflectable >=0.1.1 requires analyzer ^0.31.0.
And because aqueduct >=3.0.

[2018-08-07 23:53] aspantel commented on #144
reflectable >=2.0.0 depends on build_barback >=0.0.2 which requires SDK version >=1.9.1 <2.0.0 or >=2.0.0-dev.9 <2.0.0, reflectable >=2.0.0 is forbidden

[2018-08-08 02:43] yshrsmz commented on #144
possible duplicate of #119 ?
and it's blocked by #131

[2018-08-10 07:54] yshrsmz commented on #131
@stevenroose Hi, what's your plan for the hard-coded registry?
I've brought the code from https://github.com/PointyCastle/pointycastle/commit/2da75e5a8d7bdbf95d08329add9f13b9070b75d4 to my fork, and it looks like working.
If that's the plan, I'm going to send a PR with the change.

[2018-08-10 17:17] Cretezy commented on #139
Use:

[code]

Although you must remove/comment out flutter_test for now.

[2018-08-11 14:54] yankunsam opened #146 "Can I understand that it is an implementation of Elliptic Curve Cryptography in dart?"
Like https://github.com/indutny/elliptic.  Fast Elliptic Curve Cryptography in plain javascript. As I need to implent an EOS wallet by flutter. Thanks.

[2018-08-13 10:21] stevenroose commented on #131
@yshrsmz I would remove reflactable (or leave it somewhere, but might cause problems having it in the pubspec even if most users don't use it) and create a new registry that just has a method that registers all implementations from within the codebase. This method would be called the first time the registry is used.

That would require users that want to use their own implementations to call the r

[2018-08-13 10:23] stevenroose commented on #131
But yes, @yshrsmz , please create PRs for all the changes you made in your fork. I don't really have time to devote to this project, but I do want to keep it usable and I'm open to collaboration for maintaining it!

[2018-08-23 02:59] StarOfLife opened #149 "RegistryFactoryException: No algorithm registered of type SecureRandom with name"
Unhandled exception:
RegistryFactoryException: No algorithm registered of type SecureRandom with name:
#0      _RegistryImpl._createConstructor (package:pointycastle/src/registry/registry.dart:137:5)
#1      _RegistryImpl.getConstructor (package:pointycastle/src/registry/registry.dart:108:21)
#2      _RegistryImpl.create (package:pointycastle/src/registry/registry.dart:98:42)
#3      new SecureRan

[2018-08-23 03:00] StarOfLife commented on #149
when I use the PKCS1Encoding, it throw a error

[2018-08-23 05:23] yshrsmz commented on #149
https://github.com/PointyCastle/pointycastle/blob/00c64f2ba8e5faa180f6e2d04653df70bb37b0b9/lib/asymmetric/pkcs1.dart#L48

looks like `PKCS1Encoding` is trying to instantiate `SecureRandom` with empty algorithm name which does not exist.
I guess you can use `ParametersWithRandom` and pass `SecureRandom` instance explicitly.

[2018-08-23 07:18] StarOfLife commented on #149
yes,now I‘m create a self pkcs1padding function instead of  PKCS1Encoding

[2018-08-23 07:18] #149 closed, assigned to nobody

[2018-09-03 21:35] sidealice opened #150 "rsa encrypt is different to python's way"
modulus
165138424261149263963666229661164814908887524950166142962960019363944425161240370251403452452001165143400173133423045791330687304650944332950460079059702342999940532642226896299225258939028313437520982527474148958262129523279095471616009516621824844891755906467794220597075349492626446841979774101805104112707
publicExponent
65537
string
1536006072	IYVC6K
8217B8E9C6100000

PointyCastle resul

[2018-09-03 22:23] sidealice opened #151 "PKCS1Encoding(RSAEngine()) throw error in flutter"
I have use import as:

import "package:pointycastle/export.dart" hide Padding;
but still got following errors:

Bad state: Reflectable has not been initialized.
Please make sure that the first action taken by your program
in `main` is to call `initializeReflectable()`.

[2018-09-03 22:23] sidealice commented on #151
or how to use RSA encryption as RSA/ECB/PKCS1Padding

[2018-09-04 14:32] proteye opened #152 "AES CFB-128 encryption and decryption"
How to implement AES with CFB-128 mode?

My code:
[code]
gives the result
[code]
[code]

[2018-09-04 15:08] #152 closed, assigned to nobody

[2018-09-04 15:14] proteye commented on #152
This code is work:
[code]

[2018-09-10 13:57] catouse opened #154 "AES result is different with aes-js or nodejs"
### AES/CBC/PKCS7 in pointycastle:
[code]

The result with pointycastle is:
[code]

### encrypt with aes-js
AES-JS: https://github.com/ricmoo/aes-js
[code]

The result with aes-js is:
[code]

### encrypt with nodejs

Crypto in Nodejs: https://nodejs.org/api/crypto.html

[code]

The result with nodejs:
[code]
It  is same with aes-js.

[2018-09-11 06:47] duncanhoggan commented on #151
@sidealice there is a problem with PKCS1 specifically as the Random generator used for the padding uses reflection and that's a no go for flutter. I've made a small change check this branch for one that works with PKCS. [pkcs1_flutter](https://github.com/duncanhoggan/pointycastle/tree/pkcs1_flutter).

Here is a little code sample for PKCS1

[code]

Un-Padded RSA would be the same except when initi

[2018-09-12 08:43] sidealice commented on #151
thanks a lot!

[2018-09-12 08:43] #151 closed, assigned to nobody

[2018-09-14 06:13] sreeramu commented on #151
@duncanhoggan  @sidealice   I am also getting same exception with simple AES example used in flutter, i wan to encrypt and decrypt using AES/CBC/PKCS5Padding is there is any example to do with this library.?

[2018-09-14 06:38] duncanhoggan commented on #151
@sreeramu The issue might be the same as the RSA issue I was having, possibly linked to the same random seed, will have a look and feed back.

[2018-09-14 07:18] duncanhoggan commented on #130
@stevenroose I'll gladly contribute some. What format you want and where you want to keep them?

[2018-09-14 18:31] stevenroose commented on #130
I'd say in a `docs/` folder in Markdown. And feel free to place a link in the `README.md` to those documents.

[2018-09-14 20:05] stevenroose commented on #151
Look at this probably: https://github.com/PointyCastle/pointycastle/pull/122#issuecomment-392564593

Is anyone here using master? In master I migrated to the new BigInt type, but something doesn't work because of a bug in the implementation in Dart 2.

I really need to review that progress, test the unit tests again and publish to pub. Just really not having time for those things. PRs with at leas

[2018-09-29 10:24] lionlin commented on #59
Hi, could you tell me how can i use OAEP for RSA

[2018-09-29 10:44] lionlin opened #156 "Can I use OAEP RSA in flutter?"

[2018-10-01 14:31] duncanhoggan commented on #156
@lionlin I'm busy working on it will update this thread accordingly.

[2018-10-04 15:00] stevenroose commented on #59
@lionlin You can't yet, I'm afraid. This issue is the tracker to implement the feature and AFAIK, no one did it yet.

[2018-10-04 15:31] stevenroose commented on #154
DId you take a look at this example? https://github.com/PointyCastle/pointycastle/pull/111

[2018-10-04 15:31] stevenroose commented on #142
Please take a look at this example and let me know if it works for you: https://github.com/PointyCastle/pointycastle/pull/111

[2018-10-08 07:13] lionlin commented on #156
thanks for reply. when will it be ready for rsa-oaep?

[2018-10-24 09:10] rickyazhari opened #158 "Failed to decrypt RSA encryption"
hi, i do RSA encryption with pointy castle and always failed to decrypted back.

btw, decrypt process is in different environment  using PHP

here's my code :

[code]
here's my flutter doctor
[code]
is there something wrong  in my encryption process ?

[2018-10-24 12:21] duncanhoggan commented on #158
@rickyazhari This is what i use for my pkcs1 encrypt, i'm using a C# based server implementation for decrypting and all is good. I'm passing in the modulus and exponent in as strings.

    var text = "Your message here"
    var pubKey = RSAPublicKey(BigInt.parse(modulus), BigInt.parse(exponent))
    var cipher = PKCS1Encoding(RSAEngine());
    cipher.init(true, PublicKeyParameter<RSAPublicKey>(pub

[2018-10-24 15:08] bagintz opened #159 "Simple Example(s)"
I am hoping to use this library since I have to integrate an api that uses Hmac/SHA-512 and the base crypto library for Dart doesn't support that (?????).  I am having a hard time finding an end to end example of how to emulate the api documentation.  Can someone point me to a place with an example?

Thanks!!!

[2018-10-25 03:32] rickyazhari commented on #158
hai @duncanhoggan  thanks for advice. i already follow your code for encryption. unfortunately it's cannot  decrypted as well. here's my code

[code]
Really thanks, i still figure out where i miss

[2018-10-25 20:11] bagintz commented on #159
I have found a couple of things but I am having a hard time getting the same result as my working examples in Postman.  Does anybody have any examples?

[2018-10-26 19:07] bagintz commented on #159
Specifically trying to duplicate this (JS) in PointyCastle, and I cannot get it :(

`CryptoJS.enc.Hex.stringify(CryptoJS.HmacSHA512(MESSAGE, KEY));
`

[2018-10-26 19:43] bagintz commented on #159
Sigh, ok, at the end of the day I think my lack of understanding led to, what I am sure, is a very easy concept to understand.  Essentially I was using a block size of 64 (which seems to be the default of the SHA-512 algo, but it seems that it actually wants 128 to match the output of the JS above.

So for whatever person runs into the same issue here is a very concise example of how to do a SHA-5

[2018-11-01 10:31] stevenroose commented on #159
You could use the algorithm registry and just done `new Mac("HMAC/SHA-512")`. And use the [hex package](http://pub.dartlang.org/packages/hex) for hexadecimal encoding and decoding.

[2018-11-01 15:54] bagintz commented on #159
Cool, I will give that a shot, thank you

[2018-11-18 09:54] AquaWolf commented on #156
Hi, any news about this issue?

[2018-11-19 09:53] duncanhoggan commented on #156
@lionlin and @AquaWolf I went in and checked the re-write again and looks like its good, written against the BC Java OAEP encoding [here](https://github.com/bcgit/bc-java/blob/5d17720a0d5d61f2b6b198a059caccbda811724f/core/src/main/java/org/bouncycastle/crypto/encodings/OAEPEncoding.java).

I'll push the changes and link them here, will just need to updated the project tests before the PR comes in.

[2018-11-22 07:20] duncanhoggan commented on #156
@lionlin and @AquaWolf [PR](https://github.com/PointyCastle/pointycastle/pull/160) is in.

[2018-11-22 12:26] stevenroose commented on #156
@lionlin @AquaWolf I would very much appreciate if either of you could verify if @duncanhoggan's implementation works for you :)
https://github.com/PointyCastle/pointycastle/pull/160

I'd feel more confident pulling it that way.

[2018-12-11 12:08] SoptikHa2 opened #161 "Update pointycastle in pub repository"
The package last version in pub repository is outdated, is it possible to update it to latest version? Importing package with pub is much easier, as I don't need to manage the versions and dependencies myself.

[2018-12-11 12:54] stevenroose commented on #161
The only change since the last pub version (1.0.0-rc4) is formatting.

If I get some confirmations that rc4 works decently with Dart2, I could
release 1.0.0 stable.

On Tue, Dec 11, 2018, 13:08 SoptikHa2 <notifications@github.com> wrote:

[2018-12-11 13:43] SoptikHa2 commented on #161
Thanks. I didn't see the new version, directly searching for pointycastle brought me to old 0.11.1 version and I missed the link to new version.

[2018-12-11 13:43] #161 closed, assigned to nobody

[2018-12-12 15:50] Vanethos opened #162 "Closed - solved"
Using the following:

[code]

gives the error:

`RangeError (end): Invalid value: Not in range 0..255, inclusive: 256`

Aftet checking the code, I think that this is due to the fact that in `BaseAsymmetricBlockCipher` we create

`var out = new Uint8List(outputBlockSize);`

That already had a size of 255, and when in `rsa.dart` we go into `processBlock` in `_convertOutput` the first step is:

`fina

[2018-12-12 15:52] #162 closed, assigned to nobody

[2018-12-16 18:48] shaxxx commented on #116
Any progress on this? Thanks!

[2018-12-16 23:19] yshrsmz commented on #116
you can use rc version

[2018-12-16 23:31] stevenroose commented on #116
I think I can publish 1.0.0 stable by now. Didn't hear about any problems
with rc4. Will do tomorrow!

On Mon, Dec 17, 2018, 00:19 Yasuhiro Shimizu <notifications@github.com>
wrote:

[2018-12-17 15:44] stevenroose commented on #156
Fixed per https://github.com/PointyCastle/pointycastle/pull/160.
Available in v1.0.0

[2018-12-17 15:44] #156 closed, assigned to nobody

[2018-12-18 15:31] raodaqi commented on #154
I had the same problem

[2018-12-18 17:07] raodaqi commented on #154
**Do not use SHA-256 encryption**

[code]
The result with pointycastle is:
[code]
@catouse

[2018-12-20 01:30] catouse commented on #154
@raodaqi Thanks.

[2018-12-20 01:30] #154 closed, assigned to nobody

[2018-12-21 06:19] duncanhoggan commented on #158
Hey, not sure what you plan is but you need the private and public pieces of the key to decrypt if you are using RSA.

Generally...
message ---> encrypted using public key ---> transport ---> decrypted using private key ---> message

[2018-12-21 09:04] Vanethos opened #163 "RSA Key generation in iPhone 5s does not work"
I tried to create RSA keypair using @proteye 's gist: https://gist.github.com/proteye/982d9991922276ccfb011dfc55443d74, even creating a isolate for it, but on the iPhone 5s and iPad air it can't get past the `keyGenerator.generateKeyPair();` line.

Code:
[code]

This works on OnePlus 6,and the android and ios simulator on the mac.

Am I doing something wrong? Is this not the correct way for genera

[2018-12-26 09:27] rickyazhari commented on #158
@duncanhoggan  yah Generally such as you wrote in above. But i want just encryption process in client side and decryption in server side.

After some sample there is size different encryption result of native android encryption and flutter with pointy castle which is  i've got  259 String length in flutter  and  255 String length in native android. After that, flutter encryption result still faile

[2018-12-26 19:06] #163 closed, assigned to nobody

[2019-01-15 04:16] rickyazhari commented on #158
ok finally today i solve this problem. With sample test result

i run some test which is turn in to concluded with un-match length crypto text result.
the result of crypto text using this method is 259. i use 2048 bit modulus and expect to get 256 crypto text length. and also in crypto text  i found  static value in front after i turn the result in to hex. ex :

plain text : pointycastle
chiper te

[2019-01-16 15:17] fly512 opened #165 "dart version ？"
lib/asymmetric/oaep.dart:212:31: Error: The method '&' isn't defined for the class 'dart.core::bool'.
Try correcting the name to the name of an existing method, or defining a method named '&'.
      if ((block[index] != 0) & (start == block.length)) {

[2019-01-17 03:32] guoyuanzhuang opened #166 "How does the .cer get Bigint"
In Java I use the following method to get the public key:
`public PublicKey getPublicKey(InputStream in) {
        try {
            try {
                CertificateFactory certificateFactory = CertificateFactory
                        .getInstance("X.509");
                Certificate certificate = certificateFactory.generateCertificate(in);
                return certificate.getPublicKey();

[2019-01-17 07:39] duncanhoggan commented on #158
@rickyazhari firstly a side note you are using the older reflection based cipher initialisation. Try changing your init to the following.

    AsymmetricBlockCipher cipher = PKCS1Encoding(RSAEngine());
    cipher.init(true, PublicKeyParameter<RSAPublicKey>(pubKey));

The main issue here is your conversion from `Uint8List` to hex `String`.

I did the same conversion using the [Hex](https://pub.dart

[2019-01-17 07:44] duncanhoggan commented on #165
Please provide more information regarding your environment, versions etc.
If you are using flutter the `flutter doctor -v` output would be appreciated.

Based on the error you are using dart v1, please feel free to submit a PR for changes.

[2019-01-17 08:01] duncanhoggan commented on #150
Please provide the code samples you are using and information about your system.

Note if you are using a padding scheme (as you should) the encryption result will never be the same. Padding schemes such as OAEP and PKCS1 use a random seed so the results should not be the same.

[2019-01-17 08:09] duncanhoggan commented on #143
Are you referring to support for OpenPGP?

[2019-01-17 08:15] proteye commented on #143
Not full support. At least decoding and coding message. RSA encryption itself as I understand it is the same. But "BEGIN PGP MESSAGE..." is different (may be different sequence).

[2019-01-17 08:20] duncanhoggan commented on #143
Ok so you are referring to just parsing and adding the ASCII Armor. I'm not sure if this falls into the scope of this repo, you could manage it with a regex pattern for parsing.

[2019-01-17 08:23] proteye commented on #143
Ok. Thank you. I just thought maybe someone had done separately from the repository and there is a ready code.

[2019-01-17 09:53] tangzejin921 opened #167 "AES/ECB/PKCS7Padding cannot be implemented"
I want to use AES/ECB/PKCS7Padding
But code error reporting
CODE：
var key = utf8.encode("0123456789abcdef");
  var iv = utf8.encode("");
  CipherParameters params = new PaddedBlockCipherParameters(new ParametersWithIV(new KeyParameter(key), iv), null);

  PaddedBlockCipherImpl cipherImpl = new PaddedBlockCipherImpl(new PKCS7Padding(), new ECBBlockCipher(new AESFastEngine()));
  cipherImpl.init(tru

[2019-01-18 00:58] tangzejin921 commented on #167
I should use
ipherParameters params = new PaddedBlockCipherParameters(new KeyParameter(key), null);

[2019-01-18 00:58] #167 closed, assigned to nobody

[2019-01-18 01:18] 1AlexFix1 opened #168 "Decode PrivateKey"
Hi, I have a problem, because I can not decrypt the information with a private key if it was encrypted somewhere else, swift or kotlin, the output is porridge.
maybe i'm not getting my private key right?

[code]

[2019-01-18 11:07] #168 closed, assigned to nobody

[2019-01-20 17:49] 1AlexFix1 opened #169 "RSA encryption slow decoding"
Hello, on the physical device(iOS), on Android it fast, wild slow work with rsa, decryption with a private key on average 6 seconds, generation of keys with such parameters RSAKeyGeneratorParameters (BigInt.from (65537), 2048, 12);
Flutter: start time 42:48
Flutter: time is the end 46:10
which is very long.
At the moment there is no possibility to collect the release version, so the question with

[2019-01-21 10:24] Vanethos commented on #169
In my experience, the release version boosted the speed of creating the keys.

Also, using https://api.dartlang.org/stable/2.1.0/dart-isolate/dart-isolate-library.html helped me boosting performance

[2019-01-21 13:00] 1AlexFix1 commented on #169
In release build RSA encryption fast

[2019-01-21 13:00] #169 closed, assigned to nobody

[2019-01-22 05:54] rickyazhari commented on #158
[code]

I make hex conversion my self. it typically general conversion used to  convert byte into hex string. I think that's not the main problem. But, I will try with hex library. and such as you suggested.

[2019-01-22 06:43] duncanhoggan commented on #158
@rickyazhari I tested your code again and the hex conversion came out wrong...

    var test1 = bufferToHex(Uint8List.fromList([0, 0, 0, 0]));
returns "800000000"

    var test2 = bufferToHex(Uint8List.fromList([255, 255, 255, 255]));
returns "8FFFFFFFF"

Test it for yourself and you will come to the same conclusion.
Feel free to close the issue when you discover this 👍

[2019-01-22 07:22] rickyazhari commented on #158
@duncanhoggan  yah you right. I already test with hex library. I think it's already solve now. We can close this issue.

[2019-01-24 03:15] neeboo opened #170 "The BigInt equals zero"
https://github.com/PointyCastle/pointycastle/blob/27646a9f81ab07bfa886484fedc5e2a188d680fa/lib/ecc/ecc_fp.dart#L279

should be
[code]

[2019-01-29 13:30] nanjia opened #171 "How can I get the x and y Coordinate and d from the generated EC keypair?"
it seems that the ECPublicKey class doesn't have the method and I can't get the ECpoint Q and I don't know how to use the keypair
thank you

[2019-01-30 08:17] #171 closed, assigned to nobody

[2019-02-02 14:20] mslavkovski commented on #127
I'm trying to make RSAEngine to work and I am facing the same issue:
`type 'RSAPublicKey' is not a subtype of type 'Null'`

I referenced the RC version of the pointycastle library in my pubspec.yaml:
`pointycastle: ^1.0.0-rc4`

The exception is thrown in the following line of code:
`var cipher = new RSAEngine()..init( true, new PublicKeyParameter(keyPair.publicKey));`

I'm struggling for this thin

[2019-02-05 13:17] fajarvm commented on #128
Any chance to also have the SHA3-256 as in FIPS 202 standard supported in Pointycastle?
Standard doc: https://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.202.pdf

Hash result according to http://emn178.github.io/online-tools/sha3_256.html
input: "Lorem ipsum dolor sit amet, consectetur adipiscing elit..."
output: "25f888a9cb41602e79e57584614e93d250c598348af94e2f7d3143293664bf6c"

UPDATED on 11 Feb 20

[2019-02-06 02:53] coylums commented on #127
I am also see this issue above except with a private key and receive `type 'RSAPrivateKey' is not a subtype of type 'Null'` Anyone else seeing this issue?

[2019-02-11 18:01] glachac commented on #127
@mslavkovski @coylums

You are not providing the type in the generic classes in two of your lines where you create **PublicKeyParameter** and **PrivateKeyParameter**.  I suspect the underlying code is casting to a T which is undefined, so you are getting cast to null errors.

The two changes are below:

With these two changes, I got your code snippet to work and properly encode and decode "Hello W

[2019-02-11 19:28] mslavkovski commented on #127
That was indeed the issue there. Now it works.

Thanks!

[2019-02-19 05:47] ikecoolon commented on #149
@StarOfLife   How to create a self pkcs1padding? Could you show me the class?

[2019-02-19 05:53] StarOfLife commented on #149
@ikecoolon
[code]

[2019-02-20 12:24] ghost opened #172 "AES ECB encryption on a binary array"
I'm testing currently trying to figure out how to encrypt a binary array using AES ECB encryption. Both the AES key and the data I want to encrypt are presented as binary arrays, if I've understood everything correct I won't need to pad the array containing the data if it matches the key's length?

Here is the code I've got so far:

[code]

This results in the following error message:
I/flutter (5

[2019-02-20 16:12] stevenroose opened #173 "AOEP unit tests failing"
It seems like they never worked in the first place.

@duncanhoggan, @rondluper could you guys take a look perhaps??

[code]

[2019-02-21 07:49] ghost commented on #172
Thanks to a helpful person on Stack Overflow I was able to get this up and running. This is the way to do it if you have no need for padding:

[code]

[2019-02-21 07:49] #172 closed, assigned to nobody

[2019-02-22 14:14] duncanhoggan commented on #173
@stevenroose I had issues with the dart environment (mailed you about it) and couldn't get the test suite running, hence the tests were never run. I'll have a look and see if i can get them sorted out some time.

[2019-02-22 15:35] stevenroose commented on #173
Yeah I made a commit removing some old unused packages that also broke the
compilation on my machine. So now I can run them again.

Must have missed your e-mail. Usually better to create issues, I have
filters for that :p

On Fri, Feb 22, 2019, 14:14 Duncan Hoggan <notifications@github.com wrote:

[2019-02-22 15:45] duncanhoggan commented on #173
I've checked the test and it is structured correctly the length warning is also correct. I will adjust the test data accordingly, won't be difficult, just need the correct input parameters. Also you did reply on the mail, your rules are working fine 😁.

[2019-03-08 15:03] EpicGamer1YT opened #176 "How to get values of RSA Public & Private Key?"
After generating a key pair and encrypting the test "Hello World" String, how do I get the values of the generated key pair(private and public key values)? it only tells me  `Instance of 'RSAPublicKey'` when I try to print it to the console.

Here is my sample code:
[code]

[2019-03-08 23:19] peter-meemo commented on #176
API for AsymmetricKeyPair is here: https://pub.dartlang.org/documentation/pointycastle/latest/pointycastle.api/AsymmetricKeyPair-class.html

You can see that the keypair object has .privateKey and .publicKey members, and each of those has BigInt members for its values.

[2019-03-08 23:23] peter-meemo commented on #59
AsymmetricBlockCipher('RSA/OAEP') does not fail (although I think the RSA/OAEP implementation has issues), is this issue still open?

[2019-03-08 23:29] peter-meemo opened #177 "RSA with OAEP fails nondeterministically"
Unless I am screwing up implementation (possible), it seems like RSA/OAEP fails some small fraction of the time. (I am guessing that there may be a problem with the random oracle inside OAEP?)

Unit test:

[code]

This does not fail if the cipher is defined as 'RSA' or 'RSA/PKCS1', only for 'RSA/OAEP'.

[2019-03-08 23:29] peter-meemo commented on #59
(Previous comment referring to https://github.com/PointyCastle/pointycastle/issues/177 )

[2019-03-08 23:40] peter-meemo commented on #177
(Of note: this also fails if we create new AsymmetricBlockCipher objects for each encryption/decryption pass, so it is not related to some persistent state inside those.)

[2019-03-09 19:05] duncanhoggan commented on #177
@peter-fingo Please feel welcome to scrutinise the implementation, it's based off the bouncy castle implementation but I may have missed something. Also the test coverage around OAEP needs attention. Any contribution is welcome, I will investigate too when I have a chance.

[2019-03-13 10:35] Nguyenpk57 commented on #154
[code]
i have used the above code to encrypt on js
But does it seem that AES.js cannot be decrypted?
because there is no unpad method
I see above you have to add the pad
Do you have any way?
@raodaqi

[2019-03-13 10:37] Nguyenpk57 commented on #154
[code]
Here my code on the flutter dart I used to decode and encode. It's okie

[2019-03-14 02:52] Nguyenpk57 commented on #154
const decryptByAES = (message, keyRSA) => {
	var cipherIV = keyRSA.substring(0,16);
	keyRSA = keyRSA.substring(0,32);

    const key = aesjs.utils.utf8.toBytes(keyRSA);
    const iv = aesjs.utils.utf8.toBytes(cipherIV);
    const aesCbc = new aesjs.ModeOfOperation.cbc(key, iv);

	var decryptedBytes = aesCbc.decrypt(aesjs.utils.hex.toBytes(message));

	const unpadData = aesjs.padding.pkcs7.strip(de

[2019-03-16 18:22] na2axl commented on #112
Hi there, any updates on this issue?

[2019-03-28 19:25] cupill commented on #165
Same issue here, using Dart VM version: 2.0.0 (Fri Aug 3 10:53:23 2018 +0200) on "windows_x64"
So not using Flutter
Problem is bools do not handle the binary operators & and |
Works by changing simple | and & to double || and && in lib\asymmetric\oaep.dart lines 212, 217 and 220

[2019-03-29 23:48] DevonteDC opened #178 "RSAPKCS1SignatureFormatter vs rsaSigner.generateSignature"
.Net [Create Signature](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.rsapkcs1signatureformatter?view=netframework-4.7.2) function and [rsaSigner.generateSignature](https://pub.dartlang.org/documentation/pointycastle/latest/pointycastle.impl.signer.rsa_signer/RSASigner/generateSignature.html) not coming back with same results when used with exact same data, hash, and pri

[2019-04-10 12:23] chinabrant opened #179 "aes decrypt result error"
My function.
[code]
console output:
[code]

The result should be a json. but i just got 16 characters.
What's wrong?

Help, thanks.

[2019-04-28 11:50] touhonoob opened #180 "ECC Public Key Recovery From Signature"
Example implementations:
- https://github.com/indutny/elliptic/blob/523da1cf71ddcfd607fbdee1858bc2af47f0e700/lib/elliptic/ec/index.js#L193-L221
- https://github.com/ethereum/go-ethereum/tree/master/crypto/secp256k1/libsecp256k1/src/modules/recovery

[2019-04-30 23:40] yunge opened #182 "ChaCha20 support"
Is there any plan to add ChaCha20? Thanks.

[2019-05-01 04:01] joaoritter opened #183 "Problem making JWT using RSA"
`Bad State: AES engine not initialised`

I'm making a JWT using RSA like so:

`
    final rnd = FortunaRandom();

    final rsapars = RSAKeyGeneratorParameters(BigInt.parse("65537"), 2048, 12);
    final params = ParametersWithRandom(rsapars, rnd);

    final k = RSAKeyGenerator();

    k.init(params);

    final keyPair = k.generateKeyPair();

    final header = _header;
    final payload = _payl

[2019-05-01 04:13] joaoritter commented on #183
Troubleshooting: First problem seems to be with FortunaRandom as the random number input.

[2019-05-01 04:36] joaoritter commented on #183
This article had everything I needed!
https://morioh.com/p/6f069be5a287/asymmetric-key-generation-in-flutter

[2019-05-01 04:36] #183 closed, assigned to nobody

[2019-05-01 04:38] joaoritter commented on #183
original source => https://medium.com/flutter-community/asymmetric-key-generation-in-flutter-ad2b912f3309

[2019-05-17 08:04] shamblett opened #184 "Cant construct RSA SHA-256 signer"
When I construct an RSA SHA-256 signer,

 var signer = new pointy.Signer('SHA-256/RSA');

passing a private key as the cipher params

pointy.PrivateKey privateKey = new pointy.RSAPrivateKey(
      rawKey.modulus, rawKey.privateExponent, rawKey.prime1, rawKey.prime2);
  pointy.PrivateKeyParameter privateKeyParams =
      new pointy.PrivateKeyParameter(privateKey);

I run into this error

type 'Priv

[2019-05-19 17:06] christophewang commented on #179
@chinabrant Did you solve your problem ? I'm currently having the same issue when I try to decrypt using AES. I'm expecting 32 bytes but I only get the 16 first bytes.

[2019-05-20 10:20] christophewang opened #185 "Scrypt function optimization"
The speed/performance for scrypt function is quite slow when I use it.
In my case, I use those scrypt parameters (n=16384, r=8, p=8). It takes about ~15sec when I do one key derivation. In comparison on the same machine, in Javascript, it takes only ~ 2sec.

Is there a way to optimize that ?

[2019-05-20 11:06] gi097 commented on #182
You could temporarliy use this, since I needed chacha20 in Dart as well: https://github.com/gi097/salt

[2019-05-21 08:45] chinabrant commented on #179
https://github.com/leocavalcante/encrypt/issues/32

[2019-05-21 08:45] #179 closed, assigned to nobody

[2019-05-21 11:07] stevenroose commented on #182
No plans to add anything. I'm not even maintaining really anymore except when someone finds a real bug.

You're very much encouraged to provide an implementation of ChaCha20 for PointyCastle. I'd happily spend the time reviewing it.

[2019-05-21 11:15] stevenroose commented on #185
What environment are you testing that in, DartVM or dart2js? I was not the one that implemented Scrypt, but I believe the implementation was based on a Java one, not a JS one.

[2019-05-21 11:25] christophewang commented on #185
I tested it in the DartVM. Yes, I mentioned JS as a comparison only. I also tried the one from BouncyCastle (Java) with the same scrypt parameters and it took around ~1sec.

My use case is for Bitcoin BIP38 private key encryption/decryption, I can try to provide more details if you need.

[2019-05-21 13:26] yunge commented on #182
Thanks, I'll try it.

[2019-05-21 13:26] #182 closed, assigned to nobody

[2019-05-21 17:02] stevenroose commented on #185
I'm really not actively maintaining this library anymore, I'm sorry. I think I had an e-mail from you about BIP38, I replied to that this morning.

[2019-05-26 16:41] objectx opened #186 "`Blake2bDigest` with explicit key triggers `RangeError`"
Following code should run without errors, but `h.process` throws a `RangeError`.

[code]

Digging into the source, I've found:
 - `_bufferPos` was initialized to the end when the key was supplied.
 - in the 1st call of `update`, the [`remainingLength`](https://github.com/PointyCastle/pointycastle/blob/8b9d69a50b1a9b8ac12e2f8caf921f14e654341e/lib/digests/blake2b.dart#L138) is `0`
 - `_compress` was

[2019-05-28 05:10] lets-swapcode commented on #158
Can you share function for decrypting using private key ?

[2019-05-28 05:52] lets-swapcode commented on #127
can you share decrypt function ?

[2019-05-28 05:54] duncanhoggan commented on #158
@lets-swapcode rather open a new issue as opposed to clouding this issue.

[2019-05-28 06:59] lets-swapcode opened #187 "Failed to decrypt RSA encryption"
Share function code which decrypt a encrypted text using RSA (pointycastle) dart flutter.

[2019-05-28 07:00] lets-swapcode commented on #187
@duncanhoggan can you help now ?

[2019-05-28 07:30] duncanhoggan commented on #187
Hey, sure this is what i use for RSA with PKCS1 padding

[code]

[2019-05-28 08:57] lets-swapcode commented on #187
Thanks alot. you saved ton of my time.

[2019-05-28 08:57] #187 closed, assigned to nobody

[2019-05-28 20:19] PITR-DEV commented on #176
I would like to know too.

[2019-05-29 06:34] lets-swapcode opened #188 "AES/CBC/PKCS5Padding (PointyCastle)"
need a function pad using PKCS5 padding.

@duncanhoggan can you help?

[2019-05-29 09:15] lets-swapcode opened #189 "Failed to encrypt AES encryption (Pointycastle)"
function to encrypt using AES with pkcs7 padding

@duncanhoggan help me out

[2019-06-01 22:30] watzon opened #190 "Add documentation"
This seems to be a great library and it has everything I need, but it's borderline unusable because of the lack of documentation. It would be great if people that understand what's going on could go through and document all of the code, add examples, and make the experience a little better.

[2019-06-05 04:44] akitalk-agency opened #191 "Why not ECC Encrypt and Decrypt?"
Can I encrypt and decrypt data use ECC pubkey and privatekey?
This function is theoretically feasible, Is there any development plan?

[2019-06-08 20:57] Bayonle commented on #158
I'd been battling this for weeks. Your solution worked like charm @duncanhoggan

[2019-06-11 05:43] fengerzh opened #193 "Java rsa/ecb/oaepwithsha-256andmgf1padding support?"
Does pointycastle support Java rsa/ecb/oaepwithsha-256andmgf1padding? I hope we can encrypt with pointycastle and decrypt with Java.

[2019-07-02 08:10] ipconfiger opened #194 "ecc_fp.dart bugs? Q in public key multiple d in private key got different secret some times"
if there's two key pair of ECPublicKey and ECPrivateKey alice and bob
if use alice.publickey.Q * bob.privatekey.d and  bob.publickey.Q * alice.privatekey.d to calculate the secret. It's equal most times, but sometimes not equal. Not the same as theory.
Or what i miss?

[2019-07-02 11:26] sakinaboriwala commented on #159
@stevenroose @bagintz  I am struggling with this. Cannot find any example in ReadMe or anywhere else in order to implement SHA-512 encryption. It's really urgent, please help me out if possible.

Need to implement something like this
`const encryptedHash = CryptoJS.SHA512(paramsList);`
This is a JS snippet.

[2019-07-03 03:50] #194 closed, assigned to nobody

[2019-07-03 03:55] ipconfiger commented on #191
Use  public key and private key  Q*d to calculate a shared secret. use the shared secret as key to encrypt data, we can use symmetric encryption algorithm here, 3DES or AES or Chacha/Salsa20......

[2019-07-03 12:12] ipconfiger opened #198 "SHA256Digest.process return data not equal to hashlib(python) and other lib in many other languages"
source text is '1d31dc56a882c686e5355f367d2ea8393ef8535f19896e38c83f025062837e901d0400551802c5533661aabc96135de5eb91a982fdb9ba3a876043b8e883ae50'

SHA256Digest.process returns:
[209, 176, 92, 12, 94, 11, 223, 105, 236, 152, 90, 14, 40, 177, 184, 200, 217, 84, 250, 223, 10, 57, 94, 148, 101, 239, 149, 235, 193, 91, 136, 188]

Python hashlib sha256 returns:

[107, 25, 91, 95, 40, 19, 177, 140, 73, 5

[2019-07-10 14:14] stevenroose commented on #159
I'm not longer able to actively maintain this package. All I can do is look at PRs and merge them if I have the time to verify them or if they have been confirmed working by other contributors.

Every once and a while someone comes by and complaints about lack of example code. I sometimes give them some pointers and invite them to contribute their examples into the repo. I never hear again from th

[2019-07-23 05:01] Radagan commented on #184
@shamblett I just hit this same problem... I'm trying to connect to Google IoT using your [mqtt_client](https://github.com/shamblett/mqtt_client/blob/master/example/iot_core.dart). I searched around for a jwt library that worked and ended up with your fork of JustJwt without even realizing it at first. Any luck getting past the above problem?

[2019-07-23 22:16] JiananYe commented on #159
you twisted the message and key parameter for correct results

[2019-07-29 16:31] AKushWarrior commented on #190
I wrote a wrapper library for PointyCastle to solve this problem, and I'm in the process of porting all the API's. If you want, take a look at https://pub.dev/packages/steel_crypt#-readme-tab-

[2019-07-29 16:33] AKushWarrior commented on #136
A lot of these aren't relevant anymore, or are wholly dysfunctional.

[2019-07-29 16:35] AKushWarrior commented on #189
AES with PKCS7 padding is a function in a wrapper library I wrote for PointyCastle. Take a look at https://pub.dev/packages/steel_crypt#-readme-tab-.

[2019-08-05 13:24] premtemp1 opened #199 "3 des support"
Hello,
  Do you plan to support 3 des?

[2019-08-07 14:46] DaryLee commented on #193
PUSH: would be nice to choose between different digests. need sha-256 too, because sha-1 is not very secure

[2019-08-11 04:53] AKushWarrior opened #200 "Using ISO padding?"
The README notes state that you can use ISO7816-4 as a padding. How would this be achieved with AES?
My code currently looks like this to encrypt:
[code]
I know this package is mostly inactive, but could anyone help me out?

[2019-08-11 04:55] AKushWarrior commented on #200
Note: key, ivLocal, and input are all parameters for the helper function above.

[2019-08-11 11:27] mhsnprvr opened #201 "Initialization vector must be the same length as block size"
import 'dart:convert';
import 'dart:typed_data';
import 'package:pointycastle/api.dart';
import 'package:pointycastle/block/aes_fast.dart';
import 'package:pointycastle/export.dart';
import 'package:pointycastle/padded_block_cipher/padded_block_cipher_impl.dart';
import 'package:pointycastle/paddings/pkcs7.dart';

class Crypto {
  static BlockCipher aesCipher;
  var secretKey;
  static String CIPH

[2019-08-11 13:37] #201 closed, assigned to nobody

[2019-08-12 00:40] AKushWarrior commented on #200
Never mind, figured it out. You need to import the github instead of the pub version.

[2019-08-12 00:40] #200 closed, assigned to nobody

[2019-08-12 07:30] ObranS opened #202 "Photo encryption performance issue"
Hi PointyCastle team, I greatly admire your product. PointyCastle encryption works fast and it easy to use. It saved me tons of hours.

But recently I got an issue during image data encryption. The problem in that, algorithm AES/CBC/PKCS7 too slow to encrypt images.

Maybe you guys can help how to resolve this?
The main question, what cipher is most optimized to encrypt images?

Thank you in advan

[2019-09-05 08:27] simbados commented on #198
How did you transform the source text? Might be an encoding issue as you need a Uint8List to hash a String.

[2019-09-05 08:35] stevenroose commented on #198
Is that the actual text in UTF8? Or is that a hexadecimal representation of the source bytes? Could you briefly mention the code you used to get those hash values for both Dart and Python?

Sorry for the late response, not really keeping track on this project anymore.

[2019-09-16 08:48] crny opened #203 "how support aes-128-ctr no padding?"
how support aes-128-ctr no padding?like node
`crypto.createCipheriv('aes-128-ctr', key, iv)`

[2019-09-27 12:40] ramasa opened #205 "How to load ECPrivateKey from string"
String privateKeyString = '''-----BEGIN PRIVATE KEY-----
MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQg2sfmpsl894GDcNOl
vzKW0gzf/b8XvQigr/rZGSjKydqhRANCAASd3bWS7Sb5Vm8ze0kA/cggzddcaVo8
zbOFG6tr7+qKgmhTAMruotu4XNyZscfHoQudcVeACMNtmAXIx19ybW6D
-----END PRIVATE KEY-----''';

How to load ECPrivateKey from above (or other representation in) string?

[2019-10-11 01:54] richardheap commented on #198
Apparently the source text is an ASCII string to be converted to bytes as ASCII values, i.e. 0x31, 0x64, 0x33, 0x31, etc.

The following BC code produces the expected output:

[code]

[2019-10-11 02:29] richardheap commented on #176
See SO question/answer [here](https://stackoverflow.com/questions/55066925/get-rsa-public-or-private-key-from-keypair-generation-flutter)

[2019-10-11 02:35] richardheap commented on #166
There's a [package ](https://github.com/amaurel/rsa_pkcs) on pub.dev for that.

[2019-10-14 01:36] imphila commented on #96
how it is going on? i have the same problem.

[2019-10-14 01:50] imphila commented on #96
/*
	This is necessary because if a message can be signed by (r, s), it can also
	be signed by (r, -s (mod N)) which N being the order of the elliptic function
	used. In order to ensure transactions can't be tampered with (even though it
	would be harmless), Ethereum only accepts the signature with the lower value
	of s to make the signature for the message unique.
	More details at
	https://github.

[2019-10-23 13:17] yhc44 opened #206 "Slow performance on Android"
Hello,

im thankfully using this lib for decrypting files that are encrypted with AES CTR. (chunk wise)

I made a speedtest, where the decryption of a file with 10 MB took

~2s   on iPhone 8 Plus
~15s on Xiaomi Redmi Note 4.
~20s on Sony Xperia Z2

Why is there such a significant performance difference on iOS vs Android?

Thank you :)

[2019-10-23 13:38] wstrange commented on #206
Have you compiled Android in release mode? Apple has a very fast SoC - and those may be older Android models - some of the difference may be expected.

[2019-10-23 13:48] yhc44 commented on #206
Thank you for your fast response.

We compiled it in release mode, but it takes about 15-20 seconds to decrypt.

The Xiaomi Redmi Note 4 has the following specs:

- 2.0GHz Octa-Core-Prozessor, Snapdragon 625, 4GB RAM.

I cant imagine, that the phone is that much slower to an iPhone?

[2019-11-14 13:18] shehanmkg commented on #138
@development-s365  Can you show how you build the encryption method?

[2019-11-14 15:35] richardheap commented on #138
@ShehanMadushanka Please search on Stack Overflow using the tag [pointycastle]. If your question isn't already answered there, ask a new question - and tag it [pointycastle].

[2019-11-29 05:18] hoylen commented on #176
Cast them into their actual classes. Cast the _publicKey_ member from a _PublicKey_ into an [RSAPublicKey](https://pub.dev/documentation/pointycastle/latest/pointycastle.api.asymmetric/RSAPublicKey-class.html), and the _privateKey_ member from a _PrivateKey_ into an [RSAPrivateKey](https://pub.dev/documentation/pointycastle/latest/pointycastle.api.asymmetric/RSAPrivateKey-class.html).

The example

[2019-12-02 08:51] hoylen commented on #184
Since `PrivateKeyParameter` is a generic class, you create a correctly typed instance of it by specifying the generic type in `< >`:

[code]

So the signing code is something like:

[code]

Same with the _PublicKeyParameter_ for verifying the signature:

[code]

[2019-12-05 09:55] spd-heshuip commented on #94
Hello @kendfinger  ,Did you try  implement SSL certificate generation with this library?

[2019-12-12 01:14] simc opened #211 "GitHub and pub.dev do not recognize license"
Would it be possible to reformat the license, so GitHub and pub.dev recognize it?

Edit: I think the URL would need to be in the copyright line.

[2019-12-12 11:39] stevenroose commented on #211
Does pub.dev recognize/know the Bouncy Castle license? It's not one of the most common ones.

[2019-12-12 11:44] simc commented on #211
It looks to me like a standard MIT license. I tried to move the URL to the first line and GitHub recognizes MIT.

[2019-12-13 11:27] stevenroose commented on #211
This project just got relicensed a few weeks back away from MIT.

Here is the PR: https://github.com/PointyCastle/pointycastle/pull/207

[2019-12-13 11:35] simc commented on #211
This is the current license:

[code]

This is the MIT license:
[code]

The only thing preventing GitHub from recognizing it is the URL in the second line. It would need to be moved to the first line.

This file `pointycastle/licenses/LICENSE-BouncyCastle.html` has the correct format.

[2019-12-13 11:42] simc commented on #211
In [this fork](https://github.com/leisim/pointycastle), I moved the URL to the first line and GitHub accepts it.

Their [official license](https://www.bouncycastle.org/licence.html) also has the URL in the first line.

[2019-12-13 15:32] stevenroose commented on #211
e2c8b680ccc0149f3250433571354596b1df766b should fix this.

[2019-12-13 15:32] #211 closed, assigned to nobody

[2019-12-13 16:00] simc commented on #211
Thank you!

[2019-12-14 10:22] spd-heshuip opened #213 "convert ECPrivateKey/ECPublicKey to PEM"
How convert ECPrivateKey/ECPublicKey to PEM string？

[2019-12-14 16:33] richardheap commented on #213
Pointycastle lacks the ASN.1 encode/decode functions to do this. Typically, you'd create your keys elsewhere (e.g. with openssl) and read from PEM into pointycastle. Check out the `rsa_pkcs` package in `pub.dev`. You might need to extend it to support EC keys.

[2019-12-16 14:56] alepop commented on #205
@ramasa try to look at [rsa_pkcs](https://pub.dev/packages/rsa_pkcs)

[2019-12-17 01:10] cheeseandcereal opened #215 "Support lower-s form conversion for ECDSA signatures"
Because of the prevalence of libsecp256k1 with bitcoin/ethereum, more and more people are using those libraries for ecdsa. When verifying signatures, libsecp256k1 enforces a signature's `s` to be in lower-s form to essentially help protect signature malleability.

See the comment in its include header for more info:

https://github.com/bitcoin-core/secp256k1/blob/d644dda5c9dbdecee52d1aa259235510fd

[2019-12-17 17:10] #205 closed, assigned to nobody

[2019-12-18 16:19] stevenroose commented on #215
Sure, that makes sense. I would have a method on `ECSignature` called `normalize()` that just normalizes the signature so no new signature has to be created.

[2019-12-18 20:21] cheeseandcereal commented on #215
An `ECSignature` doesn't contain data about its `ECDomainParameters` which are required for doing this calculation. Would a better alternative be providing an optional `normalize` boolean when actually creating the signature? Or should a `normalize()` function be added to `ECSignature` which simply requires taking in an `ECDomainParameters` object? (Or as a 3rd alternative, simply add a reference

[2019-12-19 14:18] stevenroose commented on #215
That's a good point. I would not add a ref to the signature for sure.

Of the other two options, it seems like we could do both. `normalize(ECDomainParameters)` seems fine, but a bool to normalize from the start seems better. They can both exist, though.

Btw, I'm about to move this project to a new repo, so keep your PR branch around in case you'd have to re-do.

[2019-12-20 02:39] hoylen commented on #177
Since I needed to do a deep-dive into understanding how to use OAEP and what the specifications said about it, I thought I'll have a quick look at this issue...

Yes, there is a bug in the Pointy Castle code.

**Short answer:** I'll submit a pull request for the fix.

Though I suggest using _processBlock_ instead of _process_ to do the encryption, since _process_ with throw an exception if the dat

[2019-12-25 02:00] ZhuQiaochu opened #219 "AES-CBC examples bug report"
tutorials/examples/aes-cbc-registry.dart

line 331

// Encrypt (note must ALWAYS pad to 128-bit block size for AES)
..
pad(utf8.encode(textToEncrypt), 128));

I think this should be

pad(utf8.encode(textToEncrypt), 16));

128 bit = 16 byte

Many thanks for your code.

[2019-12-25 08:52] jt-519 opened #220 "No algorithm registered of type Padding with name: PKCS5"
RegistryFactoryException: No algorithm registered of type Padding with name: PKCS5
I/flutter (20793): #0      _RegistryImpl._createConstructor (package:pointycastle/src/registry/registry.dart:137:5)
I/flutter (20793): #1      _RegistryImpl.getConstructor (package:pointycastle/src/registry/registry.dart:108:21)
I/flutter (20793): #2      _RegistryImpl.create (package:pointycastle/src/registry/regis

[2020-01-02 19:32] richardheap commented on #220
Pointycastle provides the more generic PKCS7 padding which should be compatible.

[2020-01-12 06:25] duanyytop opened #221 "RangeError (byteOffset): Invalid value: Not in range 0..28, inclusive: 36"
dart:typed_data                                     _ByteDataView.getUint32
package:pointycastle/src/ufixnum.dart 221:28        unpack32
package:pointycastle/src/ufixnum.dart 450:17        Register64.unpack
package:pointycastle/digests/blake2b.dart 216:13    Blake2bDigest._compress
package:pointycastle/digests/blake2b.dart 144:9     Blake2bDigest.update
package:ckb_sdk_dart/src/crypto/blake2b.dart

[2020-01-14 03:54] duanyytop commented on #186
I also encountered similar problems.  https://github.com/PointyCastle/pointycastle/issues/221

[2020-01-15 09:29] simc opened #222 "New pub release"
The pub.dev page still has the old license and the message that the package is not being developed any more. When will you approximately release a new version?

[2020-01-15 11:37] stevenroose commented on #222
Ah I need to finish the transition to the Bouncy Castle guys. Soon™!

[2020-01-16 01:52] duanyytop commented on #221
I have found another blake2b library which have no this bug. Thanks

[2020-01-16 01:52] #221 closed, assigned to nobody

[2020-01-17 03:12] duanyytop commented on #186
I have found another blake2b library which can work well.   https://github.com/ilap/pinenacl-dart

[2020-02-17 01:31] jt-519 commented on #220
The server is pcks5, our business needs ~

[2020-02-17 16:05] richardheap commented on #220
There's no difference. What issue are you having using PKCS7?

[2020-02-17 17:46] DanielSoCra opened #223 "PKCS12 Support"
Is there currently any Support for the PKCS12 / p12 / pfx Format or is it planned in the near future ?

[2020-02-17 18:05] richardheap commented on #223
There is no support at present. It will probably only be added if someone contributes it.

[2020-02-20 13:11] xdnice opened #224 "block Decrypt Error"
The following code is the class of RSAEngine. There is problem for the code:

[code]
when Encryp the inputBlockSize  is   ((bitSize + 7) ~/ 8) - 1;    why is not  (bitSize  ~/ 8) - 11;

_**The following code is about block encryption,
in this  example:  when the length of the bits of the encrypted string  over 117 bits, Decrypt ERORR. Why?**_
For example,
[code]

[2020-03-14 01:52] radvansky-tomas commented on #202
Why is this closed ? Anyhow what is suggested approach for "AES/CBC/PKCS7" encryption/decryption of files (even over 30MB) ?

[2020-03-18 10:47] fajarvm opened #225 "HKDF support (RFC 5869)"
Is there any plan to support HKDF as described in the RFC 5869?

[2020-03-19 10:33] fajarvm commented on #225
Closing this issue. The project has moved to Bouncy Castle project.

[2020-03-19 10:33] #225 closed, assigned to nobody

[2020-03-31 07:47] aBuder opened #226 "Error while encrypt with RSA"
If I encrypt data with RSA key. The Data itself is also an RSA key with same length in XML format

[code]

[2020-03-31 15:44] buitrungkhang commented on #206
I have same issue with generating RSA key pair on Android device, it takes 6-20s for other devices. Hope you can attend this issue.

[2020-04-13 20:41] sunderme opened #227 "Development"
I am looking into implementing aes en-/decryption in dart.
Where is the development for this package going on, here or somewhere else ?

Are there any plans to implement aes gcm ?

Thanks,
 Jan

[2020-05-18 17:59] #136 closed, assigned to nobody

[2020-05-18 18:44] AKushWarrior commented on #220
pkcs7 is not different from pkcs5; you shouldn't nhave any padding related problems here

[2020-05-21 01:35] hoylen commented on #226
RSA encryption only works on blocks that are smaller or equal to the key size.

If you want to use the RSA algorithm to directly encrypt data, you'll have to break up the plaintext into suitably sized blocks. There are some standard methods for doing this (such as RSAES-PKCS1-v1_5 and RSAES-OAEP) which are supported by Pointy Castle. See the "RSA encryption and decryption" section of the tutorial

[2020-05-25 11:45] hoylen commented on #177
The fix has been merged into the new repository at <https://github.com/bcgit/pc-dart> via Pull Request https://github.com/bcgit/pc-dart/pull/11.

[2020-05-27 23:21] AKushWarrior commented on #227
It's been moved into the bouncycastle project. https://github.com/bcgit/pc-dart.

I am working on submitting a PR for AES-GCM in the coming days if you need it.